<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #categoryForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Approver Group Name</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="approverGroupDataSource.name" [valueChangeEvent]="'keyup'">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Approver Group Name is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Approver Group Type</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-select-box [items]="approverGroupTypeSelectItems" [searchEnabled]="true" [(value)]="approverGroupDataSource.approverGroupTypeId"
                                                   (onValueChanged)="onApproverGroupTypeValueChanged($event)"
                                                   displayExpr="name" valueExpr="id" [showClearButton]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Approver Group Type is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Employee</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-drop-down-box #companyCombobox [(value)]="gridBoxValue" valueExpr="id" displayExpr="name" [deferRendering]="false" placeholder="Select..."
                                                      [showClearButton]="true" [dataSource]="gridDataSource" [(opened)]="isDropDownBoxOpened">
                                        <div *dxTemplate="let data of 'content'">
                                            <dx-data-grid [dataSource]="gridDataSource"
                                                          [columns]="['name']"
                                                          [selection]="{ mode: 'multiple' }"
                                                          [hoverStateEnabled]="true"
                                                          [paging]="{ enabled: true, pageSize: 10 }"
                                                          [filterRow]="{ visible: true }"
                                                          [scrolling]="{ mode: 'paging' }"
                                                          [showBorders]="false"
                                                          [showColumnLines]="false"
                                                          [showColumnHeaders]="false"
                                                          [remoteOperations]="true"
                                                          [(selectedRowKeys)]="gridBoxValue">
                                                <dxo-selection showCheckBoxesMode="always" [allowSelectAll]="false"></dxo-selection>
                                            </dx-data-grid>
                                        </div>
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Employee is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-drop-down-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Description</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-area [(value)]="approverGroupDataSource.description" [height]="90">
                                    </dx-text-area>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
            </div>
        </dx-validation-group>
    </form>
</div>
