

<div class="card mb-1">

    <div style="padding:5px; text-align:left;">
        <dx-file-uploader #fileUpload class="custom-file-uploader"
                          selectButtonText="Select File"
                          [uploadUrl]="uploadUrl"
                          [multiple]="allowMultipleFilesSelection"
                          accept="*"
                          uploadButtonText="Upload"
                          uploadMode="instantly"
                          [(value)]="fileList"                          
                          (onUploaded)="onUploaded($event)"
                          (onUploadStarted)="onUploadStarted($event)">
        </dx-file-uploader>
        <div style=" cursor:default;">
            <span style="font-size:11px; color:#8e8787;">maximum file size is 6Mb (.jpg)</span>
        </div>
    </div>
</div>

<div *ngIf="fileDataSource.length>0">
    <form #uploadForm="ngForm">
        <dx-validation-group #uploadFormValidation>
            <div class="card mb-1" *ngFor="let file of fileDataSource; let i = index;">
                <div class="card-header" data-toggle="collapse" [attr.href]="'#collapse' + i" style="padding-bottom:0px; margin-bottom:0px;">
                    <a class="card-title">

                        File Name : {{file.fileName}}
                        <div aria-labelledby="Click here to remove file." style="float:right; cursor:pointer; text-align:center;">
                            <img src="../../../../assets/icons/remove_32.png" width="16" height="16" alt="Click here to remove file." (click)="onRemoveClicked(file)" />
                        </div>
                    </a>
                </div>
                <div class="row">
                    <div style="text-align:center; padding-left:45px; padding-bottom:5px; margin-top:-7px;">
                        <!--<span style="font-size:12px; color:#8e8787;">(Extension: {{file.extension}}&nbsp; &nbsp; Size: {{file.fileSizeInKb}} KB &nbsp; &nbsp; Modified Date: {{file.lastModifiedDate | date:'d/M/yyyy hh:mm a'}})</span>-->
                        <span style="font-size:12px; color:#8e8787;">(Extension: {{file.extension}}&nbsp; &nbsp; Size: {{file.fileSizeInKb}} KB)</span>
                    </div>

                </div>
                <div id="collapse{{i}}" class="card-body show" style="padding:0px;">
                    <div class="row" style="padding:5px;">

                        <div class="col-sm-12 col-xl-12 col-lg-12">

                            <div class="row">
                                <div class="col-sm-12 col-xl-6 col-lg-6 div-two-column-Left">
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>File Name</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="file.fileName" [valueChangeEvent]="'keyup'">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="File name is required"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-6 col-lg-6 div-two-column-Left">
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Ttile</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="file.title" [valueChangeEvent]="'keyup'">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!_updateMode" class="col-sm-12 col-xl-6 col-lg-6 div-two-column-Left">
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Description</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-area [(value)]="file.description" [valueChangeEvent]="'keyup'" (onValueChanged) ="setDirty(file)">
                                            </dx-text-area>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>
