<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" [HideSaveAndNew]="true" [HideSave]="true" (saveClose)="onSaveNCloseClicked($event)" (close)="onCloseClicked()"></app-titlebar>
</div>

<div [ngClass]="contentClass">
    <form #userForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col-sm-12 col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row">
                                <div class="col-sm-12 col-xl-6 col-lg-6 div-two-column-Left">
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Business Profile</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box #businessProfileSelectionBox [disabled]="isDisabledBusinessProfile" [items]="businessProfileDataSource" [(value)]="documentDataSource.businessProfileId" displayExpr="name" valueExpr="id" (onValueChanged)="onBusinessProfileValueChanged($event)" [showClearButton]="true">
                                                <dx-validator #businessProfileValidation></dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Document For</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box #documentForSelectionBox [items]="documentForDataSource" [(value)]="documentDataSource.entityTypeId" displayExpr="name" valueExpr="id" (onValueChanged)="onDocumentForValueChanged($event)" [showClearButton]="true">
                                                <dx-validator #documentForSelectionBoxValidation></dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="entityClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>{{documentForSelectionBox.text}}</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <app-entity-select-box #documentEntitySelectionBox [IsRequired]="true" [EntityType]="documentForSelectionBox.text"></app-entity-select-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xl-6 col-lg-6 div-two-column-right">

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Document Type</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box #documentTypeSelectionBox [items]="documentTypeFilterDataSource" [(value)]="documentDataSource.documentTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Description</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-area [(value)]="documentDataSource.description" [valueChangeEvent]="'keyup'">
                                            </dx-text-area>
                                        </div>
                                    </div>
                                    <!--<div class="row form-group">
                                        <div class="col-xl-6">
                                            <dx-text-box [(value)]="docId" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                        <div class="col-xl-6">
                                            <dx-button text="Click me"
                                                       (onClick)="downloadClicked()">
                                            </dx-button>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <dms-file-upload #fileUploadControl></dms-file-upload>




                        </div>
                    </div>

                    <div class="card mb-1" *ngIf="fileRevisionsDataSource.length>0">
                        <div class="card-header" data-toggle="collapse" href="#collapseRevisions">
                            <a class="card-title">
                                Revisions
                            </a>
                        </div>
                        <div id="collapseRevisions" class="card-body collapse ">
                            <div class="row">
                                <div style="margin-bottom:10px;" class="col-sm-12 col-xl-12 col-lg-12" *ngFor="let file of fileRevisionsDataSource; let i = index;">

                                    <dx-button icon="download"
                                               (onClick)="onDownloadClick(file)">
                                    </dx-button> File Name : {{file.fileName}} &nbsp; &nbsp; &nbsp; Version: {{file.version}} &nbsp; &nbsp; &nbsp;  Created By: {{file.createdBy}} <br>
                                    <span style="font-size:12px; color:#8e8787;">Extension: {{file.extension}} &nbsp; &nbsp; Size: {{file.fileSizeInKb}} KB &nbsp; &nbsp; Modified Date: {{file.lastModifiedDate | date:'dd/MM/yyyy hh:mm a'}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>



