<div class="tab-detail-page-titlebar">
    <app-titlebar (save)="onSaveClicked($event)" (close)="onCloseClicked()" (saveNew)="onSaveNNewClicked()" (saveClose)="onSaveNCloseClicked()"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <div class="row">
        <div class="col-sm-12 col-xl-12 col-lg-12 div-two-column-left">

            <form #userForm="ngForm">
                <dx-validation-group #formValidation>

                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                Formula Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row">
                                <div class="col-sm-12 col-xl-10 col-lg-10 float-right">
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Root Category</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="formulaCategorySelectedItem" [(value)]="formula.formulaCategoryId" (onValueChanged)="onCategoryValueChanged($event)" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                <dx-validator #formulaCategoryValidation></dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Child Category</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="formulaSubCategorySelectedFilteredItem" [(value)]="formula.formulaSubCategoryId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                <dx-validator #formulaSubCategoryValidation></dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="formula.name" [valueChangeEvent]="'keyup'">
                                                <dx-validator #classicalFormulaNameValidation></dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption-checkbox">
                                            <label></label>
                                        </div>
                                        <div class="col-xl-9 card-body-control-checkbox">
                                            <dx-check-box [(value)]="formula.isActive" text=" Is Active"></dx-check-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </dx-validation-group>
            </form>

        </div>

        <div class="col-sm-12 col-xl-12 col-lg-12 div-two-column-left">
            <div class="card mb-1">
                <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                    <a class="card-title">
                        Herbs In Formula
                    </a>
                </div>
                <div id="collapseTwo" class="card-body show">
                    <div class="row ">
                        <dx-data-grid #grdFormulaHerb
                                      id="grdFormulaHerb"
                                      [dataSource]="formulaHerbDataSource"
                                      [allowColumnReordering]="true"
                                      [allowColumnResizing]="true"
                                      [columnAutoWidth]="true"
                                      [showColumnLines]="false"
                                      [showRowLines]="true"
                                      [showBorders]="true"
                                      [rowAlternationEnabled]="true"
                                      keyExpr="id"
                                      [loadPanel]="true"
                                      [remoteOperations]="true"
                                      [(selectedRowKeys)]="selectedRowsForFormula">
                            <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
                            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-header-filter [visible]="false"></dxo-header-filter>
                            <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
                            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>                           
                            <dxi-column width="20%" dataField="pinYin"></dxi-column>
                            <dxi-column width="20%" dataField="englishName"></dxi-column>
                            <dxi-column width="20%" dataField="pharmaceuticalName"></dxi-column>
                            <dxi-column width="20%" dataField="australianApprovedName"></dxi-column>
                            <dxi-column width="20%" alignment="left" dataField="dose" cellTemplate="doseEditCellTemplate" caption="Dose (g)"></dxi-column>
                            <dxi-column width="5%" cellTemplate="nameEditTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'nameEditTemplate'">
                                <a class="edit-link" style="color:red; font-size:14px;" href="javascript:void(0)" (click)="onDeleteClicked(data)">
                                    <i class="fa fa-fw fa-2x fa-remove"></i>
                                </a>
                                <a href="javascript:void(0)" (click)="onDeleteClicked(data)">{{data.value}}</a>
                            </div>
                            <div style="text-align:right;" *dxTemplate="let data of 'doseEditCellTemplate'">
                                <dx-number-box [min]="0" width="90" [max]="9999" [(value)]="data.key.dose" (onValueChanged) = "onNumericControlValueChanged($event, data)" [showSpinButtons]="true">
                                </dx-number-box>
                            </div>

                        </dx-data-grid>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-xl-12 col-lg-12 div-two-column-left">
            <div class="card mb-1">
                <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                    <a class="card-title">
                        Available Herbs
                    </a>
                </div>
                <div id="collapseTwo" class="card-body show">
                    <div class="row ">

                        <dx-data-grid #grdAvailableHerb
                                      id="grdAvailableHerb"
                                      [dataSource]="availableHerbDataSource"
                                      [allowColumnReordering]="true"
                                      [allowColumnResizing]="true"
                                      [columnAutoWidth]="true"
                                      [showColumnLines]="false"
                                      [showRowLines]="true"
                                      [showBorders]="true"
                                      [rowAlternationEnabled]="true"
                                      keyExpr="id"
                                      [loadPanel]="true"
                                      [remoteOperations]="true"
                                      [(selectedRowKeys)]="selectedRowsForAvailable">
                            <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
                            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-header-filter [visible]="false"></dxo-header-filter>
                            <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
                            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                            <dxo-selection mode="multiple" showCheckBoxesMode="always" [allowSelectAll]="false" selectAllMode="allPages"></dxo-selection>
                            <dxi-column width="25%" dataField="pinYinName" caption="Pin Yin"></dxi-column>
                            <dxi-column width="25%" dataField="productName" caption="English Name" ></dxi-column>
                            <dxi-column width="25%" dataField="pharmaceuticalName" caption="Pharmaceutical Name"></dxi-column>
                            <dxi-column width="25%" dataField="australianApprovedName"></dxi-column>                                                      

                        </dx-data-grid>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
