<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>

<div [ngClass]="contentClass">
    <form #productForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col-sm-12 col-xl-7 col-lg-12 div-two-column-left">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-one">
                            &nbsp; General Information
                        </div>
                        <div class="collapse show" id="collapse-one">
                            <div class="row card-body">
                                <div class="col-lg-3 col-xl-3 col-sm-12">
                                    <div class="col-xl-12">
                                        <app-image-upload #imgUploadControl></app-image-upload>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Product Type</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box #cboProductType [items]="productTypeSelectItems" (onValueChanged)="onProductTypeValueChanged($event)" [(value)]="productDataSource.productTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">                                               
                                                <dx-validator #productTypeValidator> </dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Preferred Supplier</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="supplierSelectItems" [(value)]="productDataSource.preferredSupplierId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="herbTypeClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Pin Yin</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtPinYinName [(value)]="productDataSource.pinYinName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #pinYinNameValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>{{ productName }}</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtProductName [(value)]="productDataSource.productName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #productNameValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="herbTypeClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Pharmaceutical Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtPharmacetual [(value)]="productDataSource.pharmaceuticalName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #pharmaceuticalValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="herbTypeClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Australian Approved Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtAustralianApprovedName [(value)]="productDataSource.australianApprovedName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #australianApprovedValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="herbTypeClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Nature/Flavour</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtNature [(value)]="productDataSource.nature" [valueChangeEvent]="'keyup'">
                                                <dx-validator #natureValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="herbTypeClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Channels</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtChannels [(value)]="productDataSource.channel" [valueChangeEvent]="'keyup'">
                                                <dx-validator #channelValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div [ngClass]="herbTypeClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Raw Dose Range</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box #txtRawDoseRange [(value)]="productDataSource.rawDoseRange" [valueChangeEvent]="'keyup'">
                                                <dx-validator #rawDoseRangeValidator> </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption-checkbox">
                                            <label>Active</label>
                                        </div>
                                        <div class="col-xl-9 card-body-control-checkbox">
                                            <dx-check-box [(value)]="productDataSource.isActive"></dx-check-box>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="herbTypeClassGroup">
                        <div class="card-header" data-toggle="collapse" href="#collapse-seven">
                            &nbsp;Category Information
                        </div>
                        <div class="collapse show" id="collapse-seven">
                            <div class="card-body">
                                <dual-list [source]="subCategorySelectItems" [(destination)]="target" [format]="format" [key]="key" [display]="display" height="500px"> </dual-list>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="manufacturedClassGroup">
                        <div class="card-header" data-toggle="collapse" href="#collapse-six">
                            &nbsp;Manufacture Medicine
                        </div>
                        <div class="collapse show" id="collapse-six">
                            <div class="card-body">

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Formula Ingredients</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufactureFormulaIngredients" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Indications</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufactureIndications" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Research</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufactureResearch" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Other Clinical Applications</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufactureClinicalApplications" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Directions</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufactureDirections" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Cautions</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufactureCautions" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Package</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="productDataSource.manufacturePackage" [valueChangeEvent]="'keyup'"></dx-text-area>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-5 col-lg-12 div-two-column-right">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-two">
                            &nbsp;Price & Quantity
                        </div>
                        <div class="collapse show" id="collapse-two">
                            <div class="card-body">

                                <div [ngClass]="herbTypeNonManufactureClass">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Herb Type</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box #cboHerbType [items]="herbTypeSelectItems" [(value)]="productDataSource.herbTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            <dx-validator #herbTypeValidator> </dx-validator>
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div [ngClass]="herbTypeNonManufactureClass">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Herb Ratio</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box #cboHerbRatio [items]="herbRatioSelectItems" [(value)]="productDataSource.productRatioId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            <dx-validator #herbRatioValidator> </dx-validator>
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Unit</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="uoMSelectItems" [(value)]="productDataSource.uoMid" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            <dx-validator #uoMValidator> </dx-validator>
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Unit Cost</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-number-box [(value)]="productDataSource.sellPrice" [min]="0" [max]="999999999999999" (onValueChanged)="onNumericControlValueChanged($event)" [showSpinButtons]="true">
                                        </dx-number-box>
                                    </div>
                                </div>
                                <div [ngClass]="herbTypeClass">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Premium Herb Price</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-number-box #txtPremiumHerb [(value)]="productDataSource.sellPrice" [min]="0" [max]="999999999999999" (onValueChanged)="onNumericControlValueChanged($event)" [showSpinButtons]="true"></dx-number-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Physical Stock</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-number-box [min]="0" [max]="999999999999999" [showSpinButtons]="true" (onValueChanged)="onNumericControlValueChanged($event)" ></dx-number-box>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div [ngClass]="herbTypeClassGroup">
                        <div class="card-header" data-toggle="collapse" href="#collapse-three">
                            &nbsp;&nbsp;Sales Policy
                        </div>
                        <div class="collapse show" id="collapse-three">
                            <div class="card-body">

                                <div [ngClass]="herbTypeClass">
                                    <div class="col-xl-6 card-body-caption-checkbox">
                                        <label>Check as toxic herb</label>
                                    </div>
                                    <div class="col-xl-6 card-body-control-checkbox">
                                        <dx-check-box #chkToxic [(value)]="productDataSource.isToxic"></dx-check-box>
                                    </div>
                                </div>
                                <div [ngClass]="herbTypeClass">
                                    <div class="col-xl-6 card-body-caption">
                                        <label>Give warning when daily extract dose exceeds</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <dx-number-box #txtToxicWarning [(value)]="productDataSource.toxicWarningMaxLimitPerDay" [min]="0" [max]="999999999999999" (onValueChanged)="onNumericControlValueChanged($event)" [showSpinButtons]="true">
                                        </dx-number-box>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-6 card-body-caption">
                                        <label>Maximum Quantity</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <dx-number-box [(value)]="productDataSource.maxSellingQty" [min]="0" [max]="999999999999999" [showSpinButtons]="true" (onValueChanged)="onNumericControlValueChanged($event)"></dx-number-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-6 card-body-caption">
                                        <label>Minimum Quantity</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <dx-number-box [(value)]="productDataSource.minSellingQty" [min]="0" [max]="999999999999999" [showSpinButtons]="true" (onValueChanged)="onNumericControlValueChanged($event)"></dx-number-box>
                                    </div>
                                </div>
                                <div [ngClass]="herbTypeClass">
                                    <div class="col-xl-6 card-body-caption">
                                        <label>Maximum Per Bag</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <dx-number-box #txtMinimumSellingQtyPerBag [(value)]="productDataSource.maximumSellingQtyPerBag" [min]="0" [max]="999999999999999" [showSpinButtons]="true" (onValueChanged)="onNumericControlValueChanged($event)"></dx-number-box>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-four">
                            &nbsp;&nbsp;Purchase Policy
                        </div>
                        <div class="collapse show" id="collapse-four">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-xl-4 card-body-caption">
                                        <label>Maximum Quantity</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-number-box [(value)]="productDataSource.maxBuyingQty" [min]="0" [max]="999999999999999" (onValueChanged)="onNumericControlValueChanged($event)" [showSpinButtons]="true"></dx-number-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-4 card-body-caption">
                                        <label>Minimum Quantity</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-number-box [(value)]="productDataSource.minBuyingQty" [min]="0" [max]="999999999999999" (onValueChanged)="onNumericControlValueChanged($event)" [showSpinButtons]="true"></dx-number-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-4 card-body-caption">
                                        <label>Out of Stock Quantity</label>
                                    </div>
                                    <div class="col-xl-8"> 
                                        <dx-number-box [(value)]="productDataSource.outOfStockWarningQty" [min]="0" [max]="999999999999999" (onValueChanged)="onNumericControlValueChanged($event)" [showSpinButtons]="true"></dx-number-box>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-five">
                            &nbsp;&nbsp;Notes
                        </div>
                        <div class="collapse show" id="collapse-five">
                            <div class="card-body">
                                <div class="form-group ">
                                    <dx-text-area [(value)]="productDataSource.longDescription" [valueChangeEvent]="'keyup'"></dx-text-area>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </dx-validation-group>
    </form>
</div>
