################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoanManagerAPI_V2/packages
/LoanManagerAPI_V2/.vs
/.vs
/LoanManagerAPI_V2/LoanManager.Shared/obj/Release
