<nav class="navbar navbar-expand-lg fixed-top">
    <div class="navbar-brand">

        <img src="../../../../../assets/icons/payment_32.png" /> <span style="vertical-align:bottom;"> LMS </span>
    </div>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">       

        <ul style="padding-right: 30px; color: gray;" class="navbar-nav ml-auto">


            <li *ngIf="isSystemAdmin" style="padding: 5px 5px 2px 0px;">

                <a title="Notifications" href="javascript:void(0)" class="nav-link">
                    <!--<i style="color:#FA6655; font-size:19px; vertical-align:middle;" class="fa fa-bell" aria-hidden="true"></i>-->
                    <img src="../../../../../assets/icons/notify_24.png" />

                </a>

            </li>

            <li style="padding: 5px 5px 2px 0px;">

                <a [routerLink]="['/dashboard']" title="Dashboard" href="javascript:void(0)" class="nav-link">
                    <!--<i style="color:#F5BC2B; font-size:25px; vertical-align:middle;" class="fa fa-home" aria-hidden="true"></i>-->
                    <img src="../../../../../assets/icons/house_24.png" />


                </a>

            </li>

            <li *ngIf="isSystemAdmin" style="padding: 5px 5px 2px 0px;">

                <a [routerLink]="['/loan/application']" title="New Application" href="javascript:void(0)" class="nav-link">
                    <!--<i style="color:#F5BC2B; font-size:25px; vertical-align:middle;" class="fa fa-home" aria-hidden="true"></i>-->
                    <img src="../../../../../assets/icons/app_24.png" />


                </a>

            </li>

            <li *ngIf="isSystemAdmin" style="padding: 5px 5px 2px 0px;">

                <a [routerLink]="['/system-settings/user']" title="New User" href="javascript:void(0)" class="nav-link">
                    <!--<i style="color:#F5BC2B; font-size:25px; vertical-align:middle;" class="fa fa-home" aria-hidden="true"></i>-->
                    <img src="../../../../../assets/icons/newUser_32.png" />


                </a>

            </li>



            <li style="padding: 5px 5px 2px 0px;" *ngIf="isAuthorized">
                <a title="Logout" href="javascript:void(0)" class="nav-link" (click)="logout()">
                    <!--<i style="color:#26C447;" class="fa fa-2x fa-sign-out"></i>--> <!--{{userName}} <b class="caret"></b>-->

                    <img src="../../../../../assets/icons/out_24.png" />

                </a>

            </li>
        </ul>
    </div>
</nav>
