


.divMenu {
    display: none;
    align-content: center;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.divCon:hover .divMenu {
    display: block;
    float: none;
    /*position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;*/
    background-color: rgba(118, 118, 119, .4);
}

.divCon {
    /*margin: auto;
    position: absolute;
    border: dashed;
    border-color: lightgray;
    border-width: thin;
    overflow-wrap: break-word;
    align-content: center;*/
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}


.custom-file-uploader /deep/ .dx-button {
    /*background-color: transparent!important;*/
    align-content: center;
    /*height:20px;*/
    text-align: center;
}

/*.custom-file-uploader /deep/ .dx-button-content {    
    background-color: transparent!important;
}

.custom-file-uploader /deep/ .dx-fileuploader-files-container{
    
    top: 50px;
    padding: 3px 3px !important 
}*/

