<app-titlebar (save)="onSaveClicked($event)" (close)="onCloseClicked()" (saveNew)="onSaveNNewClicked()" (saveClose)="onSaveNCloseClicked()"></app-titlebar>

<div [ngClass]="contentClass">
    <form #userForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">

                <div class="col-sm-12 col-xl-7 col-lg-12 div-two-column-left">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3 col-sm-12">
                                    <div class="col-xl-12">
                                        <app-image-upload #imgUploadControl></app-image-upload>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-sm-12">
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Name</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="businessProfileDataSource.companyName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #companyNameValidation></dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <!--<div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Number</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="businessProfileDataSource.number" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>ABN</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="businessProfileDataSource.abn" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>ACN</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="businessProfileDataSource.acn" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>-->
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Street</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-area [(value)]="businessProfileDataSource.street" [height]="50" [maxLength]="200" [valueChangeEvent]="'keyup'">
                                            </dx-text-area>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Suburb/District</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="businessProfileDataSource.suburb" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Postal Code</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="businessProfileDataSource.postalCode" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Country</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [searchEnabled]="true" [items]="countrySelectItemsDataSource" [(value)]="businessProfileDataSource.countryId"
                                                           displayExpr="name" valueExpr="id" (onValueChanged)="onCountryValueChanged($event)">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Country is required"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>

                                    <div *ngIf="businessProfileDataSource.isActive" class="row form-group">
                                        <div class="col-xl-3 card-body-caption-checkbox">
                                            <label></label>
                                        </div>
                                        <div class="col-xl-9 card-body-control-checkbox">
                                            <dx-check-box [disabled]="disabledDefaultCheckbox" [(value)]="businessProfileDataSource.isDefault" text=" Default"></dx-check-box>
                                        </div>
                                    </div>

                                    <div *ngIf="businessProfileId>0 && !businessProfileDataSource.isDefault" class="row form-group">
                                        <div class="col-xl-3 card-body-caption-checkbox">
                                            <label></label>
                                        </div>
                                        <div class="col-xl-9 card-body-control-checkbox">
                                            <dx-check-box [(value)]="businessProfileDataSource.isActive" text=" Active"></dx-check-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-xl-5 col-lg-12 div-two-column-right">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                            <a class="card-title">
                                Office Contact Detail
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Phone</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="businessProfileDataSource.phone" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Mobile</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="businessProfileDataSource.mobile" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Fax</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="businessProfileDataSource.fax" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Email</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="businessProfileDataSource.email" [valueChangeEvent]="'keyup'">
                                        <dx-validator #emailValidation></dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Website</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="businessProfileDataSource.website" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </dx-validation-group>
    </form>
</div>

