<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #categoryForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Approval Process Name</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="approvalProcessDataSource.name" [valueChangeEvent]="'keyup'">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Approval Process Name is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Description</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-area [(value)]="approvalProcessDataSource.description" [height]="90">
                                    </dx-text-area>
                                </div>
                            </div>

                            <!--<div class="row form-group ">
                                <div class="col-xl-3 card-body-caption-checkbox">
                                    <label>Need Credit Operation</label>
                                </div>
                                <div class="col-xl-9 card-body-control-checkbox">
                                    <dx-check-box [(value)]="approvalProcessDataSource.isCreditOperationNeeded"></dx-check-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption-checkbox">
                                    <label>Need Risk, Legal & Compliance</label>
                                </div>
                                <div class="col-xl-9 card-body-control-checkbox">
                                    <dx-check-box [(value)]="approvalProcessDataSource.isRiskLegalNeeded"></dx-check-box>
                                </div>
                            </div>-->

                        </div>
                    </div>

                </div>

                <div *ngIf="approvalProcessId>0; else elseBlock" class="col col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                            <a class="card-title">
                                Approval Process Steps
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body show">
                            <div style="background-color: #3a295d;" class="row form-group">                               
                                <div class="col-xl-12">
                                    <dx-button icon="plus" text="Add Step" (onClick)="addApprovalProcessStep($event)">
                                    </dx-button>
                                    &nbsp;
                                    <dx-button icon="chevronup" text="Move Up" (onClick)="onMoveUp($event)">
                                    </dx-button>
                                    &nbsp;
                                    <dx-button icon="chevrondown" text="Move Down" (onClick)="onMoveDown($event)">
                                    </dx-button>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Step Name</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box #stepNameTextbox [(value)]="approvalProcessDataSource.approvalStepName" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Approver Group</label>
                                </div>
                                <div class="col-xl-9">

                                    <dx-select-box #approverGroupSelection [(value)]="approvalProcessDataSource.approverGroupId" [items]="approverGroupSelectItems" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                    </dx-select-box>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Document Checklist</label>
                                </div>
                                <div class="col-xl-9">

                                    <dx-tag-box #documentChecklistTag [dataSource]="documentChecklistSelectItems" [(value)]="documentCheckIds"
                                                [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">
                                    </dx-tag-box>

                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption-checkbox">
                                    <label>Final Step</label>
                                </div>
                                <div class="col-xl-9 card-body-control-checkbox">
                                    <dx-check-box [(value)]="approvalProcessDataSource.isFinalStep"></dx-check-box>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                </div>
                                <div class="col-xl-9">
                                    <dx-data-grid #grdApprovalProcessStep
                                                  id="grdApprovalProcessStep"
                                                  [dataSource]="approvalProcessStepDataSource"
                                                  [allowColumnReordering]="true"
                                                  [allowColumnResizing]="true"
                                                  [columnAutoWidth]="true"
                                                  [showColumnLines]="false"
                                                  [showRowLines]="true"
                                                  [showBorders]="true"
                                                  [rowAlternationEnabled]="true"
                                                  keyExpr="id"
                                                  [loadPanel]="true"
                                                  [remoteOperations]="true"
                                                  [masterDetail]="{ enabled: true, template: 'detail' }"
                                                  [(selectedRowKeys)]="selectedRowsApprovalProcess">
                                        <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
                                        <dxo-column-fixing [enabled]="false"></dxo-column-fixing>
                                        <dxo-filter-row [visible]="false"></dxo-filter-row>
                                        <dxo-header-filter [visible]="false"></dxo-header-filter>
                                        <dxo-search-panel [visible]="false" [width]="240"></dxo-search-panel>
                                        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                                        <dxo-selection mode="single" showCheckBoxesMode="always" [allowSelectAll]="false" selectAllMode="allPages"></dxo-selection>
                                        <dxi-column caption="Step Name" dataField="name"></dxi-column>
                                        <dxi-column caption="Approver Group" dataField="approverGroup"></dxi-column>
                                        <dxi-column caption="Final Step" dataField="isFinalStep" cellTemplate="booleanCellTemplate"></dxi-column>
                                        <dxi-column caption="Step Order" dataField="sortOrder" sortOrder="asc"></dxi-column>
                                        <dxi-column cellTemplate="nameEditTemplate"></dxi-column>
                                        <div *dxTemplate="let data of 'nameEditTemplate'">
                                            <a class="edit-link" style="color:red; font-size:14px;" href="javascript:void(0)" (click)="onDeleteClicked(data)">
                                                <i class="fa fa-fw fa-2x fa-remove"></i>
                                            </a>
                                            <a href="javascript:void(0)" (click)="onDeleteClicked(data)">{{data.value}}</a>
                                        </div>

                                        <div *dxTemplate="let data of 'booleanCellTemplate'">
                                            <span *ngIf="data.value" class="badge badge-pill badge-success">Yes</span>
                                            <span *ngIf="!data.value" class="badge badge-pill badge-danger">No</span>
                                        </div>

                                        <div *dxTemplate="let approvalStep of 'detail'">
                                            <div class="master-detail-caption"><b>{{approvalStep.data.name + "'s Checklist:"}}</b></div>
                                            <br />

                                            <div *ngFor="let checklist of getDocuments(approvalStep.key); let i = index">
                                                {{i+1}}) &nbsp; {{ checklist.documentChecklist.title }}<br />
                                            </div>

                                            <!--<dx-data-grid [dataSource]="getDocuments(approvalStep.key)"
                                   keyExpr="id"
                                  [showBorders]="true"
                                  [columnAutoWidth]="true">
                        <dxi-column dataField="DocumentChecklist.Title" caption="Title"></dxi-column>
                    </dx-data-grid>-->
                                        </div>

                                    </dx-data-grid>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>

                </ng-template>


            </div>
        </dx-validation-group>
    </form>
</div>
