<!--<div id="div-outer-tab" class="tab-style-custom">-->    
        <dx-tab-panel #tabPanel
                      [dataSource]="tabs"
                      [selectedIndex]="0"
                      [scrollingEnabled] ="true">
            <div *dxTemplate="let item of 'securityConfiguration'">
                <app-security-configuration></app-security-configuration>
            </div>
            <div *dxTemplate="let item of 'securityProfiles'">                
                <app-dx-data-grid [PageComponentKey] ="securityProfilePageKey"></app-dx-data-grid>                
            </div>
            <div *dxTemplate="let item of 'emailServers'">
                <app-dx-data-grid [PageComponentKey]="emailServerPageKey"></app-dx-data-grid>
            </div>
            <!--<div *dxTemplate="let item of 'documentExtensions'">
                <app-document-extensions></app-document-extensions>
            </div>-->
        </dx-tab-panel>
    <!--</div>-->

