<div style="margin-top:45px;padding-left: 5px;">
    <dx-data-grid #grdCompany
                  id="grdSecurityPilicies"
                  [dataSource]="dataSource"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [columnAutoWidth]="true"
                  [showColumnLines]="false"
                  [showRowLines]="true"
                  [showBorders]="true"
                  [rowAlternationEnabled]="true"
                  keyExpr="id"
                  [height]="gridHeight"
                  [loadPanel]="true"
                  [remoteOperations]="true"
                  [(selectedRowKeys)]="selectedRows">
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" ></dxo-search-panel>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-selection mode="multiple" showCheckBoxesMode="always" [allowSelectAll]="false" selectAllMode="allPages"></dxo-selection>
        <dxi-column dataField="displayName" cellTemplate="nameEditTemplate">Name</dxi-column>
        <dxi-column dataField="isDefault" cellTemplate="isDefaultTemplate">Default</dxi-column>
        <dxi-column dataField="sysBusinessProfile.companyName">Default</dxi-column>
        <dxi-column dataField="protocol"></dxi-column>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
        <dxo-paging [pageSize]="50"></dxo-paging>

        <div *dxTemplate="let data of 'nameEditTemplate'">
            <a href="javascript:void(0)" (click)="updateRecords(data)">{{data.value}}</a>
        </div>
        <div *dxTemplate="let data of 'isDefaultTemplate'">
            {{data.value}}
        </div>
    </dx-data-grid>
</div>
