<app-titlebar (close)="onCloseClicked()"></app-titlebar>
<div class="detail-page-content-div">
    <div class="container-link-page-configuration">
        <div class="row">
            <div class="col-sm-4 link-item-area" *ngFor="let linkItem of menuDataSource.menuItems">

                <div style="padding-bottom:9px;">
                    <div class="link-item-header">
                        <a class="pull-left link-item-header-link-color" [routerLink]="[linkItem.navigateUrl]" [routerLinkActive]="['router-link-active']"> {{linkItem.name}} </a>
                    </div>
                </div>
                <hr class="hr-item-separator" />
                <span class="pull-left link-item-span">{{linkItem.helpText}}</span>
            </div>
        </div>
    </div>
</div>
