

.control-custom-width-selectionbox {
    width: 50%;
}

.control-custom-width-textbox {
    width: 20%;
}

.control-padding-checkbox {
    padding-top:6px;
    padding-right:15px;
}


/* control width */
@media only screen and (max-width: 400px) {

    .control-custom-width-selectionbox {
        width: 100%;
    }

    .control-custom-width-textbox {
        width: 100%;
    }
}
