<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" [HideSaveAndNew] ="true" [HideSaveAndClose] ="true" (save)="onSaveClicked($event)" (close)="onCloseClicked()" (saveNew)="onSaveNNewClicked()" (saveClose)="onSaveNCloseClicked()"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #securityConfigForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col-sm-12 col-xl-6 col-lg-12 div-two-column-left">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                Password Length
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Minimum password length</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <dx-number-box [min]="2" [max]="32" [(value)]="securityProfile.minPasswordLength" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                    </dx-number-box>
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        characters
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Maximum password length</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <dx-number-box [min]="2" [max]="32" [(value)]="securityProfile.maxPasswordLength" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                        <!--<dx-validator>
                                            <dxi-validation-rule type="range" [min]="securityProfile.maxPasswordLength" [max]="maxDate" message="The number must be in the range 2...32"></dxi-validation-rule>
                                        </dx-validator>-->
                                    </dx-number-box>
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                            <a class="card-title">
                                Password Characters
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Require lowercase characters</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        <dx-check-box class="control-padding-checkbox" [(value)]="securityProfile.requireLowerCaseCharacter" text=""></dx-check-box>
                                        <dx-number-box [disabled]="!securityProfile.requireLowerCaseCharacter" [min]="1" [max]="32" [(value)]="securityProfile.minLowerCaseCharacter" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                        </dx-number-box>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Require UPPERCASE characters</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        <dx-check-box class="control-padding-checkbox" [(value)]="securityProfile.requireUpperCaseCharacter" text=""></dx-check-box>
                                        <dx-number-box [disabled]="!securityProfile.requireUpperCaseCharacter" [min]="1" [max]="32" [(value)]="securityProfile.minUpperCaseCharacter" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                        </dx-number-box>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Require digits</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        <dx-check-box class="control-padding-checkbox" [(value)]="securityProfile.requireDigit" text=""></dx-check-box>
                                        <dx-number-box [disabled]="!securityProfile.requireDigit" [min]="1" [max]="32" [(value)]="securityProfile.minDigit" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                        </dx-number-box>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Require special characters</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row ">
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        <dx-check-box class="control-padding-checkbox" [(value)]="securityProfile.requireSpecialCharacter" text=""></dx-check-box>
                                        <dx-number-box [disabled]="!securityProfile.requireSpecialCharacter" [min]="1" [max]="32" [(value)]="securityProfile.minSpecialCharacter" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                        </dx-number-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 col-lg-12 div-two-column-right">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseThree">
                            <a class="card-title">
                                Password Content Restriction
                            </a>
                        </div>
                        <div id="collapseThree" class="card-body show">
                            <div class="row form-group">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Disallow user’s account name in password</label>
                                </div>
                                <div class="col-xl-6">
                                    <div class="col-xl-6 card-body-control-checkbox">
                                        <dx-check-box [(value)]="securityProfile.disallowUserNameInPassword" text=""></dx-check-box>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xl-6 card-body-caption-radioOption">
                                    <label>Disallow parts of user full name in password</label>
                                </div>
                                <div class="col-xl-6">
                                    <div class="col-xl-6 card-body-control-checkbox">
                                        <dx-check-box [(value)]="securityProfile.disallowPartsOfNameInPassword" text=""></dx-check-box>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseFour">
                            <a class="card-title">
                                Password History
                            </a>
                        </div>
                        <div id="collapseFour" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Keep password history for</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <dx-number-box [min]="0" [max]="5" [(value)]="securityProfile.numberOfRememberedPassword" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                    </dx-number-box>
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        password remembered
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-6 card-body-caption">
                                    <label>Password will expire in</label>
                                </div>
                                <div class="col-xl-6 d-flex flex-row">
                                    <dx-number-box [min]="0" [max]="60" [(value)]="securityProfile.maximumPasswordAge" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                    </dx-number-box>
                                    <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                        days
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>

