<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked()" (saveNew)="onSaveNNewClicked()" (saveClose)="onSaveNCloseClicked()"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #categoryForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-0">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                Security Policy Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Name</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="securityProfile.profileName" [valueChangeEvent]="'keyup'">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Description</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-area [(value)]="securityProfile.descriptions" [height]="90" [valueChangeEvent]="'keyup'">
                                    </dx-text-area>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption-checkbox">
                                    <label>Default</label>
                                </div>
                                <div class="col-xl-9 card-body-control-checkbox">
                                    <dx-check-box [(value)]="securityProfile.isDefault" text=""></dx-check-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>

