<div *ngIf="securityProfileId>0; else elseBlock">
    <div id="div-outer-tab">
        <dx-tab-panel #tabPanel
                      [dataSource]="tabs"
                      [selectedIndex]="0"
                      [scrollingEnabled]="true">
            <div *dxTemplate="let item of 'securityPolicy'">
                <app-security-policy></app-security-policy>
            </div>
            <div *dxTemplate="let item of 'passwordSetting'">
                <app-password-setting></app-password-setting>
            </div>
            <div *dxTemplate="let item of 'sessionAccessControl'">
                <app-session-access-control></app-session-access-control>
            </div>
        </dx-tab-panel>
    </div>
</div>
<ng-template #elseBlock>
    <app-security-policy></app-security-policy>
</ng-template>
