<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;"  [HideSaveAndNew] ="true" [HideSaveAndClose] ="true" (save)="onSaveClicked($event)" (close)="onCloseClicked()" (saveNew)="onSaveNNewClicked()" (saveClose)="onSaveNCloseClicked()"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #securityConfigForm="ngForm">
        <div class="row">
            <div class="col-sm-12 col-xl-6 col-lg-12 div-two-column-left">
                <div class="card mb-1">
                    <div class="card-header" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Lockout Policy
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body show">
                        <div class="row form-group ">
                            <div class="col-xl-6 card-body-caption-checkbox">
                                <label>Enable account lockout</label>
                            </div>
                            <div class="col-xl-6 card-body-control-checkbox">
                                <dx-check-box [(value)]="securityProfile.enableAccountLockout" text=""></dx-check-box>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <div class="col-xl-6 card-body-caption">
                                <label>Consecutive failed attempts before lockout</label>
                            </div>
                            <div class="col-xl-6 d-flex flex-row">
                                <dx-number-box [disabled]="!securityProfile.enableAccountLockout" [min]="0" [max]="20" [(value)]="securityProfile.numberOfAttemptsBeforeLockout" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                </dx-number-box>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <div class="col-xl-6 card-body-caption">
                                <label>Account lockout duration</label>
                            </div>
                            <div class="col-xl-6 d-flex flex-row">
                                <dx-number-box [disabled]="!securityProfile.enableAccountLockout" [min]="0" [max]="10080" [(value)]="securityProfile.lockoutDuration" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                </dx-number-box>
                                <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                    minutes
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                        <a class="card-title">
                            Account Settings
                        </a>
                    </div>
                    <div id="collapseTwo" class="card-body show">
                        <div class="row form-group ">
                            <div class="col-xl-6 card-body-caption">
                                <label>Make account inactive if not used more than</label>
                            </div>
                            <div class="col-xl-6 d-flex flex-row">
                                <dx-number-box [min]="0" [max]="9999999" [(value)]="securityProfile.makeInactiveIfNotUsed" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                </dx-number-box>
                                <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                    days
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6 col-lg-12 div-two-column-right">
                <div class="card mb-1">
                    <div class="card-header" data-toggle="collapse" href="#collapseThree">
                        <a class="card-title">
                            Session Settings
                        </a>
                    </div>
                    <div id="collapseThree" class="card-body show">
                        <div class="row form-group ">
                            <div class="col-xl-6 card-body-caption">
                                <label>Default Session timeout</label>
                            </div>
                            <div class="col-xl-6 d-flex flex-row">
                                <dx-number-box [min]="10" [max]="1440" [(value)]="securityProfile.defaultSessionTimeout" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                </dx-number-box>
                                <div class="col-xl-9 d-flex align-items-start align-bottom card-body-caption">
                                    minutes
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xl-6 card-body-caption-checkbox">
                                <label>Allow users to change their own session timeout	</label>
                            </div>
                            <div class="col-xl-6 card-body-control-checkbox">
                                <dx-check-box [(value)]="securityProfile.allowUserToChangeSessionTime" text=""></dx-check-box>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xl-6 card-body-caption">
                                <label>Maximum concurrent session</label>
                            </div>
                            <div class="col-xl-6 card-body-control">
                                <dx-number-box [min]="1" [max]="999" [(value)]="securityProfile.maximumConcurrentSession" [valueChangeEvent]="'keyup'" class="control-custom-width-textbox" [showSpinButtons]="false">
                                </dx-number-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

