
.dx-datagrid .dx-row > td {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 2px;
}

.dx-datebox{
    width:100%!important;
}

.phone-radio {
    padding-left: 0px !important;
    text-align: center !important;
}
