<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>

<div class="detail-page-content-div">
    <form #categoryForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Title</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="documentChecklistModel.title" [valueChangeEvent]="'keyup'">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Description</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-area [(value)]="documentChecklistModel.description" [height]="90">
                                    </dx-text-area>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </dx-validation-group>
    </form>

</div>
