<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #categoryForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">

                <div class="col col-xl-7 col-lg-12 div-two-column-left">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-one">
                            &nbsp; General Information
                        </div>
                        <div class="collapse show" id="collapse-one">
                            <div class="card-body">

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Branch Code</label>
                                        <span class="required-mark">*</span>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="branchDataSource.branchCode" [maxLength]="100" [valueChangeEvent]="'keyup'">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Branch Code is required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Branch Name</label>
                                        <span class="required-mark">*</span>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="branchDataSource.branchName" [maxLength]="200" [valueChangeEvent]="'keyup'">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Branch Name is required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Region</label>
                                        <span class="required-mark">*</span>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="regionItemDataSource" [(value)]="branchDataSource.companyId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Region is required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Contact Person</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="branchDataSource.contactPerson" [maxLength]="100" [valueChangeEvent]="'keyup'">

                                        </dx-text-box>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-5 col-lg-12 div-two-column-right">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-three">
                            &nbsp;&nbsp;Contact Detail
                        </div>
                        <div class="collapse show" id="collapse-three">
                            <div class="card-body">


                                <div class="row form-group ">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Location</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="branchDataSource.address">
                                        </dx-text-area>
                                    </div>
                                </div>

                                <div class="row form-group ">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="branchDataSource.phone" [maxLength]="100">
                                        </dx-text-box>
                                    </div>
                                </div>

                                <div class="row form-group ">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Fax</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="branchDataSource.fax" [maxLength]="100">
                                        </dx-text-box>
                                    </div>
                                </div>

                                <div class="row form-group ">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="branchDataSource.email" [maxLength]="200">
                                            <dx-validator>
                                                <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </dx-validation-group>
    </form>
</div>
