
<div id="titlebardetail" class="tab-detail-page-titlebar">
    <app-titlebar #addressTitleBar (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>

<div *ngIf="showDetail; else elseBlock">
    <div [ngClass]="contentClass">
        <form #userForm="ngForm">

            <dx-validation-group #formValidation>
                <div class="row">

                    <div class="col-sm-12 col-xl-12 col-lg-12">
                        <div class="card mb-1">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne">
                                <a class="card-title">
                                    General Information
                                </a>
                            </div>
                            <div id="collapseOne" class="card-body show">
                                <div class="row">

                                    <div class="col-lg-6 col-xl-6 col-sm-12 div-two-column-left">
                                        <div class="row form-group ">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Address Type</label>
                                                <span class="required-mark">*</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-select-box [searchEnabled]="true" [items]="addressTypeSelectItemsDataSource" [(value)]="formDataSource.addressTypeId"
                                                               displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" message="Address type is required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-select-box>
                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Street</label>
                                                <span class="required-mark">*</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-text-box [(value)]="formDataSource.street" [valueChangeEvent]="'keyup'">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Suburb/Town</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-autocomplete #city
                                                                 placeholder="Type three symbols to search..."
                                                                 [minSearchLength]="3"
                                                                 [searchTimeout]="500"
                                                                 [dataSource]="suburbDataSource"
                                                                 valueExpr="suburb"
                                                                 [(value)]="formDataSource.suburb"
                                                                 (onItemClick)="onSuburbItemClick($event)">
                                                    <div *dxTemplate="let item of 'item'">
                                                        <span>{{item.suburb}} {{item.postCode}} {{item.state}}, {{item.country}}</span>
                                                    </div>
                                                </dx-autocomplete>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-xl-6 col-sm-12 div-two-column-right">
                                        <div class="row form-group ">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Postcode</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-text-box [(value)]="formDataSource.postCode" [valueChangeEvent]="'keyup'">
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>State</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-select-box #cbState [items]="stateSelectItemsDataSource" [(value)]="formDataSource.stateId"
                                                               displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                </dx-select-box>

                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Country</label>
                                                <span class="required-mark">*</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-select-box [searchEnabled]="true" [items]="countrySelectItemsDataSource" [(value)]="formDataSource.countryId"
                                                               displayExpr="name" valueExpr="id" (onValueChanged)="onCountryValueChanged($event)">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" message="Country is required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-select-box>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-xl-6 col-sm-12 div-two-column-left">
                                        <div *ngIf="formDataSource.isActive" class="row form-group">
                                            <div class="col-xl-3 card-body-caption-checkbox">
                                                <label></label>
                                            </div>
                                            <div class="col-xl-9 card-body-control-checkbox">
                                                <dx-check-box [disabled]="disabledDefaultCheckbox" [(value)]="formDataSource.isPrimary" text=" Primary"></dx-check-box>
                                            </div>
                                        </div>

                                        <div *ngIf="recordId>0 && !formDataSource.isPrimary" class="row form-group">
                                            <div class="col-xl-3 card-body-caption-checkbox">
                                                <label></label>
                                            </div>
                                            <div class="col-xl-9 card-body-control-checkbox">
                                                <dx-check-box [(value)]="formDataSource.isActive" text=" Active"></dx-check-box>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </dx-validation-group>
        </form>
    </div>
</div>
<ng-template #elseBlock>
    <app-dx-data-grid [PageComponentKey]="addressComponentKey" [OpenInSameContainer]="true" [UniqueEntityId]="uniqueEntityId" [EntityId]="entityId" (onGridNewButtonClick)="onGridNewButtonClick($event)" (onGridEditLinkClick)="onGridEditLinkClick($event)"></app-dx-data-grid>
</ng-template>


