

<div [ngClass]="contentClass">
    <form #userForm="ngForm">

        <dx-validation-group #addrressFormValidation>
            <div class="row">

                <div class="col-sm-12 col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="row col-xl-12" style="">
                            <div class="card-header col-xl-10" data-toggle="collapse" href="#collapseAddress" >
                                <a class="card-title">
                                    Addresses
                                </a>
                            </div>
                            <!--<div  class="col-xl-2 card-body-caption"  aria-labelledby="Click here to add address." style="cursor:pointer; text-align:right; margin-left:-15px;">
                                <dx-button icon="plus" (onClick)="onAddClick($event)"></dx-button>

                            </div>-->
                        </div>
                        <div id="collapseAddress" class="card-body show">
                            <div class="row" *ngIf="!showDetail; else elseBlock">

                                <div class="col-lg-12 col-xl-12 col-sm-12 ">

                                    <div class="row form-group " *ngFor="let add of addressDataSource">


                                        <div class="col-xl-4 card-body-caption">
                                            <label>{{add.addressType}} <br /> {{add.isPrimary?' (Primary)':''}}</label>
                                        </div>
                                        <div class="col-xl-8 card-body-caption address">
                                            {{add.street}} <br /> {{add.suburb}}, {{add.stateName}} {{add.postCode}}

                                            <br />
                                            <a class="edit-link" href="javascript:void(0);" (click)="showAddressDetail(add.id)">
                                                <i class="fa fa-fw fa-edit"></i>
                                            </a>
                                            <a class="edit-link" href="javascript:void(0);" (click)="deleteAdrress(add)">
                                                <i class="fa fa-fw fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row form-group ">
                                        <div class="col-xl-4 card-body-caption">

                                        </div>
                                        <div class="col-xl-8" style="text-align:left">
                                            <a href="javascript:void(0);" (click)="showAddressDetail(0)">Add New</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ng-template #elseBlock>

                                <!--*ngIf="showDetail"-->
                                <div class="row">

                                    <div class="col-lg-12 col-xl-12 col-sm-12 ">
                                        <div class="row form-group ">
                                            <div class="col-xl-4 card-body-caption">
                                                <label>Address Type</label>
                                                <span class="required-mark">*</span>
                                            </div>
                                            <div class="col-xl-8">
                                                <dx-select-box [searchEnabled]="true" [items]="addressTypeSelectItemsDataSource" [(value)]="formDataSource.addressTypeId"
                                                               displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" message="Address type is required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-select-box>
                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-4 card-body-caption">
                                                <label>Street</label>
                                                <span class="required-mark">*</span>
                                            </div>
                                            <div class="col-xl-8">
                                                <dx-text-box [(value)]="formDataSource.street" [valueChangeEvent]="'keyup'">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-4 card-body-caption">
                                                <label>Suburb/Town</label>
                                            </div>
                                            <div class="col-xl-8">
                                                <dx-autocomplete #city
                                                                 placeholder="Type three symbols to search..."
                                                                 [minSearchLength]="3"
                                                                 [searchTimeout]="500"
                                                                 [dataSource]="suburbDataSource"
                                                                 valueExpr="suburb"
                                                                 [(value)]="formDataSource.suburb"
                                                                 (onItemClick)="onSuburbItemClick($event)">
                                                    <div *dxTemplate="let item of 'item'">
                                                        <span>{{item.suburb}} {{item.postCode}} {{item.state}}, {{item.country}}</span>
                                                    </div>
                                                </dx-autocomplete>
                                            </div>
                                        </div>

                                        <div class="row form-group ">
                                            <div class="col-xl-4 card-body-caption">
                                                <label>Postcode</label>
                                            </div>
                                            <div class="col-xl-8">
                                                <dx-text-box [(value)]="formDataSource.postCode" [valueChangeEvent]="'keyup'">
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-4 card-body-caption">
                                                <label>State</label>
                                            </div>
                                            <div class="col-xl-8">
                                                <dx-select-box #cbState [items]="stateSelectItemsDataSource" [(value)]="formDataSource.stateId"
                                                               displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                </dx-select-box>

                                            </div>
                                        </div>
                                        <div class="row form-group ">
                                            <div class="col-xl-4 card-body-caption">
                                                <label>Country</label>
                                                <span class="required-mark">*</span>
                                            </div>
                                            <div class="col-xl-8">
                                                <dx-select-box [searchEnabled]="true" [items]="countrySelectItemsDataSource" [(value)]="formDataSource.countryId"
                                                               displayExpr="name" valueExpr="id" (onValueChanged)="onCountryValueChanged($event)">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" message="Country is required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-select-box>
                                            </div>
                                        </div>

                                        <div *ngIf="formDataSource.isActive" class="row form-group">
                                            <div class="col-xl-4 card-body-caption-checkbox">
                                                <label></label>
                                            </div>
                                            <div class="col-xl-8 card-body-control-checkbox">
                                                <dx-check-box [disabled]="disabledDefaultCheckbox" [(value)]="formDataSource.isPrimary" text=" Primary"></dx-check-box>
                                            </div>
                                        </div>

                                        <div *ngIf="recordId>0 && !formDataSource.isPrimary" class="row form-group">
                                            <div class="col-xl-4 card-body-caption-checkbox">
                                                <label></label>
                                            </div>
                                            <div class="col-xl-8 card-body-control-checkbox">
                                                <dx-check-box [(value)]="formDataSource.isActive" text=" Active"></dx-check-box>
                                            </div>
                                        </div>
                                        <div class="row form-group add-done-btn">
                                            <div class="col-xl-12 card-body-caption button-right">
                                                <dx-button stylingMode="outlined" type="default" text="Cancel" [width]="90" (onClick)="showAddressList(false)"></dx-button>&nbsp;
                                                <dx-button stylingMode="outlined" type="default" text="Done" [width]="90" (onClick)="addOrUpdateAddress()"></dx-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>


<!--<ng-template #elseBlock>
    <app-dx-data-grid [PageComponentKey]="addressComponentKey" [OpenInSameContainer]="true" [UniqueEntityId]="uniqueEntityId" (onGridNewButtonClick)="onGridNewButtonClick($event)" (onGridEditLinkClick)="onGridEditLinkClick($event)"></app-dx-data-grid>
</ng-template>-->
