
.address{
    text-align:left!important;
}

.add-new-addr {
    text-align: right !important;
    padding-right:5px;
    width: 100%;
}

.addr-done-btn {
    display: flex;
    text-align: right !important;
    padding-right: 5px;
    width: 100%;
}

.button-right{

    padding-right:15px;
}
