

/deep/ .dx-fileuploader-input-wrapper {
    display: none !important;
}

/deep/ .dx-fileuploader-content > .dx-fileuploader-upload-button {
    display: none !important;
}

/deep/ .dx-fileuploader-file-info {
    display: none !important;
}

/deep/ .dx-fileuploader-file-status-message {
    display: none !important;
}

.show-remove-button {
    display: block!important;
}

.hide-remove-button {
    display: none!important;
}
