

<div style="cursor:pointer;">
    <img [src]="downloadUrl" class="img-fluid img-thumbnail rounded mx-auto d-block" (click)="onClick($event)" />
</div>
<div style="cursor:pointer; text-align:center;">
    <span style="font-size:11px; color:#8e8787;">maximum file size is 6Mb (.jpg)</span>
</div>
<div style="left:40%;" [hidden]="false">
    <dx-file-uploader #uploadFile class="custom-file-uploader"
                      labelText=""                      
                      selectButtonText="Select File"
                      #fileUploader
                      [uploadUrl]="uploadUrl"
                      [multiple]="false"
                      accept="image/jpeg"
                      uploadButtonText="Upload"
                      uploadMode="instantly"
                      (onUploadStarted)="onUploadStarted($event)"
                      (onUploaded)="onUploaded($event)">
    </dx-file-uploader>
</div>
<div aria-labelledby="Click here to delete photo." style="cursor:pointer; text-align:center;">
    <img src="../../../../../assets/icons/remove_32.png" width="16" height="16" alt="Click here to delete photo." [ngClass]="removButtonClass" (click)="onRemoveClick($event)" />
</div>
