
    <div class="tab-detail-page-titlebar">
        <app-titlebar #listTitlebar (new)="onNewClicked()" (delete)="onDeleteClicked()" (refresh)="onRefreshClicked()" (close)="onCloseClicked()"></app-titlebar>
    </div>

    <div [ngClass]="contentClass">
        <dx-data-grid #grdCompany
                      id="grdCompany"
                      [dataSource]="dataSource"
                      [columns]="columns"
                      [allowColumnReordering]="true"
                      [allowColumnResizing]="true"
                      [columnAutoWidth]="true"
                      [showColumnLines]="true"
                      [showRowLines]="false"
                      [showBorders]="true"
                      [rowAlternationEnabled]="true"
                      [wordWrapEnabled]="true"
                      keyExpr="id"
                      [height]="gridHeight"
                      [loadPanel]="true"
                      [remoteOperations]="true"
                      [(selectedRowKeys)]="selectedRows"
                      (onToolbarPreparing)="onToolbarPreparing($event)"
                      (onEditorPreparing)="onEditorPreparing($event)"
                      (onContextMenuPreparing)="onGridContextMenuPreparing($event)">
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-filter-row [visible]="true" minSearchLength="10000"></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-selection mode="single" showCheckBoxesMode="always" [allowSelectAll]="false" selectAllMode="allPages"></dxo-selection>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
            <dxo-paging [pageSize]="50"></dxo-paging>
            <div *dxTemplate="let data of 'nameEditTemplate'">
                <a class="edit-link" *ngIf="!openInSameContainer" href="javascript:void(0)" (click)="onNameEditTemplateEditIconClick(data)">
                    <i class="fa fa-fw fa-edit"></i>
                </a>
                <a *ngIf="!openInSameContainer" href="{{this.editNavigationUrl + data.key.id }}" target="_blank">{{data.value}}</a>
                <a *ngIf="openInSameContainer" href="javascript:void(0)" (click)="onNameEditTemplateLinkClick(data)">{{data.value}}</a>
            </div>
            <div *dxTemplate="let data of 'booleanCellTemplate'">
                <span *ngIf="data.value" class="badge badge-pill badge-success">Yes</span>
                <span *ngIf="!data.value" class="badge badge-pill badge-danger">No</span>
            </div>
            <div *dxTemplate="let data of 'numericCellTemplate'">
                <div *ngIf="data.value" style="display: inline-block; width: 100%; text-align: right; float: right;">{{data.value | currency:'NPR':''}}</div>
                <!--<span *ngIf="data.value" style="width: 100%; text-align: right; float: right;">
                </span>-->
            </div>
        </dx-data-grid>
    </div>

