<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>

<div [ngClass]="contentClass">
    <form #companyForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col-sm-12 col-xl-7 col-lg-12 div-two-column-left">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-one">
                            &nbsp; General Information
                        </div>
                        <div class="collapse show" id="collapse-one">
                            <div class="row card-body">
                                <div class="col-lg-3 col-xl-3 col-sm-12">
                                    <div class="col-xl-12">
                                        <app-image-upload #imgUploadControl></app-image-upload>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Business Profile</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="businessProfileSelectItems" [(value)]="company.businessProfileId" displayExpr="name" valueExpr="id" [showClearButton]="true" (onValueChanged)="onBusinessProfileSelectionChanged($event)">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Business profile is required"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Account Number</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box name="accountNumber" [(value)]="company.accountNumber" [valueChangeEvent]="'keyup'">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Account number is required" validationMessageMode='always'></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Name</label>
                                            <span class="required-mark">*</span>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="company.companyName" [valueChangeEvent]="'keyup'">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Company name is required"></dxi-validation-rule>
                                                    <dxi-validation-rule type="stringLength" [min]="6" message="Company Name must have at least 6 character"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Trading As</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="company.tradeAs" [valueChangeEvent]="'keyup'"></dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>ABN</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="company.abn" [valueChangeEvent]="'keyup'"></dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>ACN</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="company.acn" [valueChangeEvent]="'keyup'"></dx-text-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-two">
                            &nbsp;Business Information
                        </div>
                        <div class="collapse show" id="collapse-two">
                            <div class="card-body">

                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>No of Employees</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-number-box [(value)]="company.noOfEmployee" [valueChangeEvent]="'keyup'" [showSpinButtons]="true">
                                            <dxi-validation-rule type="required" message="Number of employee is required"></dxi-validation-rule>
                                        </dx-number-box>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Practitioner</label>
                                    </div>
                                    <div class="col-xl-9">

                                        <dx-drop-down-box #practitionerCombobox [(value)]="contactGridBoxValue" valueExpr="id" displayExpr="name" [deferRendering]="false" placeholder="Select..."
                                                          [showClearButton]="true" [dataSource]="contactGridDataSource">
                                            <div *dxTemplate="let data of 'content'">
                                                <dx-data-grid [dataSource]="contactGridDataSource"
                                                              [columns]="['name']"
                                                              [selection]="{ mode: 'multiple' }"
                                                              [hoverStateEnabled]="true"
                                                              [paging]="{ enabled: true, pageSize: 10 }"
                                                              [filterRow]="{ visible: true }"
                                                              [scrolling]="{ mode: 'paging' }"
                                                              [showBorders]="false"
                                                              [showColumnLines]="false"
                                                              [showColumnHeaders]="false"
                                                              [remoteOperations]="true"
                                                              [(selectedRowKeys)]="contactGridBoxValue"
                                                              (onSelectionChanged)="onContactSelectionChanged($event)">
                                                    <dxo-selection showCheckBoxesMode="always" [allowSelectAll]="false"></dxo-selection>
                                                </dx-data-grid>
                                            </div>
                                        </dx-drop-down-box>

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Countries</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="counrtySelectItems" [(value)]="company.countryId" displayExpr="name" valueExpr="id" [showClearButton]="true" (onValueChanged)="onCountrySelectionChanged($event)">
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>States</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="stateSelectItems" [(value)]="company.stateId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label for="exampleFormControlInput1">Relationship Type</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-tag-box [dataSource]="relationshipTypeSelectItems" [(value)]="company.relationshipTypes"
                                                    [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">

                                        </dx-tag-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Industry</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="industrySelectItems" [(value)]="company.industryTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Organisation Type</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="organisationTypeSelectItems" [(value)]="company.companyTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                        </dx-select-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label for="txtAnnualTurnover">Turnover</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-number-box [(value)]="company.annualTurnover" [showSpinButtons]="true"></dx-number-box>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label for="exampleFormControlInput1">Rating</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="ratingSelectItems" [(value)]="company.ratingTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">

                                        </dx-select-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col col-xl-5 col-lg-12 div-two-column-right">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-three">
                            &nbsp;&nbsp;Contact Detail
                        </div>
                        <div class="collapse show" id="collapse-three">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-xl-4 card-body-caption">
                                        <label for="txtMainPhone">Main Phone</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-text-box [(value)]="company.mainPhone" [valueChangeEvent]="'keyup'"></dx-text-box>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    <div class="col-xl-4 card-body-caption">
                                        <label for="txtMobilePhone">Mobile Phone</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-text-box [(value)]="company.mobilePhone" [valueChangeEvent]="'keyup'"></dx-text-box>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    <div class="col-xl-4 card-body-caption">
                                        <label for="txtFax">Fax</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-text-box [(value)]="company.fax" [valueChangeEvent]="'keyup'"></dx-text-box>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    <div class="col-xl-4 card-body-caption">
                                        <label for="txtEmail">Email</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-text-box [(value)]="company.email" [valueChangeEvent]="'keyup'"></dx-text-box>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    <div class="col-xl-4 card-body-caption">
                                        <label for="txtWebsite">Website</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-text-box [(value)]="company.website" [valueChangeEvent]="'keyup'"></dx-text-box>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    <div class="col-xl-4 card-body-caption">
                                        <label for="ddPreferredContactMethod">Preferred Contact Method</label>
                                    </div>
                                    <div class="col-xl-8">
                                        <dx-select-box [items]="preferredContactMethodSelectItems" [(value)]="company.preferredContactMethodId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                        </dx-select-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapse-four">
                            &nbsp;&nbsp;Description
                        </div>
                        <div class="collapse show" id="collapse-four">
                            <div class="card-body">
                                <div class="form-group ">
                                    <dx-text-area [(value)]="company.description" [valueChangeEvent]="'keyup'"></dx-text-area>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>
