<div class="tab-detail-page-titlebar">
    <app-titlebar [HideSaveAndNew]="true" [HideSaveAndClose]="true" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)"></app-titlebar>
</div>

<form #userForm="ngForm">
    <dx-validation-group #formValidation>
        <div class="row">
            <div class="col-sm-12 col-xl-3 col-lg-3">

            </div>
            <div class="col-sm-12 col-xl-6 col-lg-6">
                <div class="card mb-1">
                    <div class="card-header" data-toggle="collapse" href="#collapseOne">
                        General Information
                    </div>
                    <div id="collapseOne" class="card-body show">



                        <div class="row form-group">
                            <div class="col-xl-4 card-body-caption">
                                <label>Current Password</label>
                            </div>
                            <div class="col-xl-8">
                                <dx-text-box mode="password" #currentPasswordTextbox [(value)]="formData.currentPassword" [valueChangeEvent]="'keyup'">
                                </dx-text-box>
                            </div>
                        </div>


                        <div class="row form-group ">
                            <div class="col-xl-4 card-body-caption">
                                <label>New Password</label>
                                <span class="required-mark">*</span>
                            </div>
                            <div class="col-xl-8">
                                <dx-text-box mode="password" #newPasswordTextbox [(value)]="formData.newPassword" [valueChangeEvent]="'keyup'">
                                    <dx-validator #passwordValidation></dx-validator>
                                </dx-text-box>
                            </div>
                        </div>


                        <div class="row form-group ">
                            <div class="col-xl-4 card-body-caption">
                                <label>Confirmed Password</label>
                                <span class="required-mark">*</span>
                            </div>
                            <div class="col-xl-8">
                                <dx-text-box mode="password" #confirmedPasswordTextbox [(value)]="formData.confirmPassword" [valueChangeEvent]="'keyup'">
                                    <dx-validator #confirmPasswordValidation></dx-validator>
                                </dx-text-box>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-3 col-lg-3">

            </div>
        </div>

    </dx-validation-group>
</form>
