$topnav-background-color: #281c4a; /*#103156;*/ /*#222;*/
$sidebar-ul-submenu-background-color: #3a295d; /*#003C6C;*/
$anchor-router-link-active: #3a295d; /*#00437A;*/
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 40px; /*56px;*/
    left: 200px;
    width: 200px;
    margin-left: -200px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .separator {
        display: block;
        border: none;
        color: red;
        height: 1px;
        background: grey;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(#3a295d), to(#3a295d), color-stop(50%, #281c4a));
        width: 100%;
    }

    .linkmenu {
        padding-left: 20px;
    }

    .menu-selected {
        border-left: 3px solid #2F95F9 !important;
    }

    .span-style {
        vertical-align: middle;
    }

    .list-group {
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #FFFFFF;
            text-decoration: none;

            .fa {
                margin-right: 10px;
            }
        }

        a:hover {
            /*background: darken($topnav-background-color, 5%);*/
            color: #fff;
            text-decoration: none;
        }

        a.router-link-active {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }

        .header-fields {
            padding-top: 10px;

            > .list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }

    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }

        .panel-title {
            font-size: 12.5px;
            height: 50px;
            margin-bottom: 0;

            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;

                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }

            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }

        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }

        .panel-collapse {
            border-radious: 0;
            border: none;

            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;

                    a {
                        color: #999;
                    }

                    a:hover {
                        color: #fff;
                    }
                }

                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }

    .nested {
        list-style-type: none;
    }

    .selectedDiv {
        content: "";
        right: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #009DFA;
        z-index: 1
    }

    ul.submenu {
        display: none;
        height: 0;
        padding-left: 0px;
        background-color: $sidebar-ul-submenu-background-color;
    }



    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            margin-bottom: 0;

            li {

                a {
                    color: #ffffff;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    display: block;
                    vertical-align: middle;
                }

                span {
                    padding-left: 10px;
                }



                a.router-link-active {
                    background-color: $anchor-router-link-active !important;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        top: 40px;
        left: 0px;
    }
}

@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
