

<!--<div *ngIf="contactId>0; else elseBlock">
    <dx-tab-panel #tabPanel
                  [dataSource]="tabs"
                  [selectedIndex]="0">
        <div *dxTemplate="let item of 'generalInformation'">
            <app-contact-form [entityModel]="entityModel"></app-contact-form>
        </div>-->
        <!--<div [ngClass]="tabPageServiceStyle" *dxTemplate="let item of 'addresses'">
        </div>
        <div [ngClass]="tabPageServiceStyle" *dxTemplate="let item of 'documents'">
        </div>
        <div [ngClass]="tabPageServiceStyle" *dxTemplate="let item of 'communications'">
        </div>
        <div [ngClass]="tabPageServiceStyle" *dxTemplate="let item of 'compliances'">
        </div>-->
    <!--</dx-tab-panel>
</div>
<ng-template #elseBlock>
    
</ng-template>-->


<app-contact-form [entityModel]="entityModel"></app-contact-form>
