<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>
<div [ngClass]="contentClass">
    <form #categoryForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Name</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-box [(value)]="loanTypeDataSource.name" [valueChangeEvent]="'keyup'">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Approval Process</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-select-box [items]="approvalProcessTypeSelectItems" [(value)]="loanTypeDataSource.approvalProcessId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Approval Process is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Related Document Category</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-tag-box #documentCategoryTag [dataSource]="documentCategoryTypeSelectItems" [(value)]="documentCategoryIds"
                                                [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Related Document Category is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-tag-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Minimum Amount</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-number-box min="1" max="999999999" class="numberAlign" [(value)]="loanTypeDataSource.minimumAmount" [valueChangeEvent]="'keyup'" format="#,##0.00" [showSpinButtons]="false">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Minimum Amount is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Maximum Amount</label>
                                    <span class="required-mark">*</span>
                                </div>
                                <div class="col-xl-9">
                                    <dx-number-box min="1" max="999999999" class="numberAlign" [(value)]="loanTypeDataSource.maximumAmount" [valueChangeEvent]="'keyup'" format="#,##0.00" [showSpinButtons]="false">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Maximum Amount is required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-3 card-body-caption">
                                    <label>Description</label>
                                </div>
                                <div class="col-xl-9">
                                    <dx-text-area [(value)]="loanTypeDataSource.description" [height]="90">
                                    </dx-text-area>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div [ngClass]="customFieldClassGroup">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                            <a class="card-title">
                                Custom Field Information
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body show">
                            <div style="background-color: #3a295d;" class="row form-group">
                                <div class="col-xl-12">
                                    <dx-button icon="plus" text="Add" (onClick)="addCustomFiled($event)">
                                    </dx-button>
                                    <dx-button icon="save" text="Update" (onClick)="updateCustomField($event)">
                                    </dx-button>
                                    <dx-button icon="refresh" text="Clear" (onClick)="clearCustomField($event)">
                                    </dx-button>
                                </div>
                            </div>
                            <div style="border:1px solid #ddd;" class="row">
                                <div class="col col-xl-12 col-lg-12">
                                    <div class="card-header" data-toggle="collapse" href="#collapseFive">
                                        <a class="card-title">
                                            General Information
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="card-body show">
                                        <div class="row form-group">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Group Name</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-text-box #customFieldGroupName [valueChangeEvent]="'keyup'">
                                                    <!--<dx-validator #customFieldNameValidation></dx-validator>-->
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-text-box #customFieldName [valueChangeEvent]="'keyup'">
                                                    <!--<dx-validator #customFieldNameValidation></dx-validator>-->
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Caption</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-text-box #customFieldCaption [valueChangeEvent]="'keyup'">
                                                    <!--<dx-validator #customFieldCaptionValidation></dx-validator>-->
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Control Type</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-select-box #customFieldControlType (onValueChanged)="onControlTypeChanged($event)" [items]="customFieldControlTypeSelectItems" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                                    <!--<dx-validator #customFieldControlTypeValidation></dx-validator>-->
                                                </dx-select-box>
                                            </div>
                                        </div>
                                        <div [ngClass]="customFieldClass">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Control Selection Value</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-text-box #customFieldControlValue [valueChangeEvent]="'keyup'">
                                                    <!--<dx-validator #customFieldControlSelectionValidation></dx-validator>-->
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Mandatory</label>
                                            </div>
                                            <div style="text-align:left; padding-top: 6px;" class="col-xl-9 card-body-control-checkbox">
                                                <dx-check-box #customFieldMandatory >
                                                </dx-check-box>
                                            </div>
                                        </div>
                                        <div class="row form-group" style="display: none;">
                                            <div class="col-xl-3 card-body-caption">
                                                <label>Control Sort Order</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <dx-number-box #customFieldControlSortOrder min="1" max="999" [valueChangeEvent]="'keyup'" [showSpinButtons]="false">
                                                </dx-number-box>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="border:1px solid #ddd; margin-top:5px;" class="row">
                                <div class="col col-xl-12 col-lg-12">
                                    <div class="card-header" data-toggle="collapse" href="#collapseSix">
                                        <a class="card-title">
                                            List
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="card-body show">
                                        <div class="row form-group">
                                            <div style="padding:0px!important; display:none;" class="col-xl-3">
                                                <table style="width:100%" class="child-table table-striped">
                                                    <thead>
                                                        <tr class="child-table-row-header">
                                                            <td class="child-table-header" scope="col" style="width:80%; text-align:left; padding-left:5px;">Group Name</td>
                                                            <td class="child-table-header" scope="col" style="width:20%; text-align:left; padding-left:5px;">Order</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngFor="let group of customFieldGroupSelectItems">
                                                        <tr>
                                                            <td style="padding-left:5px; text-align:left;">
                                                                <!--<dx-text-box [(value)]="group.name" [disabled]="true" [valueChangeEvent]="'keyup'">
                                                                </dx-text-box>-->
                                                                {{group.name}}
                                                            </td>
                                                            <td style="padding-left:5px;">
                                                                <dx-number-box min="1" max="999" [(value)]="group.id" [valueChangeEvent]="'keyup'" [showSpinButtons]="false">
                                                                </dx-number-box>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="col-xl-12" style="display:none;">
                                                <dx-data-grid #grdCustomField
                                                              id="grdCustomField"
                                                              [dataSource]="loanTypeCustomFieldDataSource"
                                                              [allowColumnReordering]="true"
                                                              [allowColumnResizing]="true"
                                                              [columnAutoWidth]="true"
                                                              [showColumnLines]="false"
                                                              [showRowLines]="true"
                                                              [showBorders]="true"
                                                              [rowAlternationEnabled]="false"
                                                              keyExpr="id"
                                                              [loadPanel]="true"
                                                              [(selectedRowKeys)]="selectedRowsForCustomField">
                                                    <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
                                                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                    <dxo-header-filter [visible]="false"></dxo-header-filter>
                                                    <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
                                                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                                                    <dxi-column caption="Group Name" dataField="customFieldGroupName" [groupIndex]="0"></dxi-column>
                                                    <dxi-column dataField="customFieldName"></dxi-column>
                                                    <dxi-column dataField="customFieldCaption"></dxi-column>
                                                    <!--<dxi-column width="15%" dataField="controlName"></dxi-column>-->
                                                    <dxi-column caption="Control Value" dataField="customFieldSelectionValue"></dxi-column>
                                                    <dxi-column caption="Order" dataField="controlSortOrder"></dxi-column>
                                                    <dxi-column width="5%" cellTemplate="upEditTemplate"></dxi-column>
                                                    <div *dxTemplate="let data of 'upEditTemplate'">
                                                        <a class="edit-link" style="color:darkblue; font-size:18px;" href="javascript:void(0)" (click)="onEditClicked(data)">
                                                            <i class="fa fa-arrow-up"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="onEditClicked(data)">{{data.value}}</a>
                                                    </div>
                                                    <dxi-column width="5%" cellTemplate="downEditTemplate"></dxi-column>
                                                    <div *dxTemplate="let data of 'downEditTemplate'">
                                                        <a class="edit-link" style="color:darkblue; font-size:18px;" href="javascript:void(0)" (click)="onEditClicked(data)">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="onEditClicked(data)">{{data.value}}</a>
                                                    </div>
                                                    <dxi-column width="5%" cellTemplate="nameEditTemplate"></dxi-column>
                                                    <div *dxTemplate="let data of 'nameEditTemplate'">
                                                        <a class="edit-link" style="color:darkblue; font-size:18px;" href="javascript:void(0)" (click)="onEditClicked(data)">
                                                            <i class="fa fa-fw fa-1x fa-edit"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="onEditClicked(data)">{{data.value}}</a>
                                                    </div>
                                                    <dxi-column width="5%" cellTemplate="nameDeleteTemplate"></dxi-column>
                                                    <div *dxTemplate="let data of 'nameDeleteTemplate'">
                                                        <a class="edit-link" style="color:red; font-size:18px;" href="javascript:void(0)" (click)="onDeleteClicked(data)">
                                                            <i class="fa fa-fw fa-1x fa-remove"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="onDeleteClicked(data)">{{data.value}}</a>
                                                    </div>
                                                </dx-data-grid>
                                            </div>
                                            <div class="col-xl-12">
                                                <dx-data-grid #grdCustomGroupFields
                                                              id="grdCustomFieldMaster"
                                                              [dataSource]="loanTypeCustomFieldsFinalDataSource"
                                                              [masterDetail]="{ enabled: true, template: 'detail' }"
                                                              [allowColumnReordering]="false"
                                                              [allowColumnResizing]="false"
                                                              [columnAutoWidth]="true"
                                                              [showColumnLines]="false"
                                                              [showRowLines]="true"
                                                              [showBorders]="true"
                                                              [rowAlternationEnabled]="false"
                                                              keyExpr="customFieldGroupName"
                                                              [loadPanel]="true"
                                                              [(selectedRowKeys)]="selectedRowsForCustomField">
                                                    <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                                    <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
                                                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                                                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                                                    <dxo-header-filter [visible]="false"></dxo-header-filter>
                                                    <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
                                                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                                                    <dxi-column caption="Group Name" dataField="customFieldGroupName"></dxi-column>
                                                    <dxi-column caption="Order" dataField="groupSortOrder"></dxi-column>
                                                    <dxi-column width="5%" cellTemplate="upEditTemplate1"></dxi-column>
                                                    <div *dxTemplate="let data of 'upEditTemplate1'">
                                                        <a class="edit-link" style="color:darkblue; font-size:18px; cursor: pointer !important;" href="javascript:void(0)" (click)="onGroupUpClicked(data.data)">
                                                            <i class="fa fa-arrow-up"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="onGroupUpClicked(data.data)">{{data.value}}</a>
                                                    </div>
                                                    <dxi-column width="5%" cellTemplate="downEditTemplate1"></dxi-column>
                                                    <div *dxTemplate="let data of 'downEditTemplate1'">
                                                        <a class="edit-link" style="color:darkblue; font-size:18px; cursor: pointer !important;" href="javascript:void(0)" (click)="onGroupDownClicked(data.data)">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="onGroupDownClicked(data.data)">{{data.value}}</a>
                                                    </div>
                                                    <div *dxTemplate="let fieldGroup of 'detail'">
                                                        <div class="master-detail-caption" style="font-weight: 500; padding-bottom: 5px;">{{fieldGroup.data.customFieldGroupName + "'s Fields:"}}</div>
                                                        <dx-data-grid [dataSource]="getGroupFields(fieldGroup.key)"
                                                                      [showBorders]="true"
                                                                      [remoteOperations]="true"
                                                                      keyExpr="id"
                                                                      [columnAutoWidth]="true">
                                                            <dxi-column dataField="customFieldName"></dxi-column>
                                                            <dxi-column dataField="customFieldCaption"></dxi-column>
                                                            <dxi-column caption="Control Value" dataField="customFieldSelectionValue"></dxi-column>
                                                            <dxi-column caption="Mandatory" dataField="isCustomFieldMandatory"></dxi-column>
                                                            <dxi-column caption="Order" dataField="controlSortOrder"></dxi-column>
                                                            <dxi-column width="5%" cellTemplate="upEditTemplate"></dxi-column>
                                                            <div *dxTemplate="let data of 'upEditTemplate'">
                                                                <a class="edit-link" style="color:darkblue; font-size:18px; cursor: pointer !important;" href="javascript:void(0)" (click)="onFieldUpClicked(data.data)">
                                                                    <i class="fa fa-arrow-up"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" (click)="onFieldUpClicked(data.data)">{{data.value}}</a>
                                                            </div>
                                                            <dxi-column width="5%" cellTemplate="downEditTemplate"></dxi-column>
                                                            <div *dxTemplate="let data of 'downEditTemplate'">
                                                                <a class="edit-link" style="color:darkblue; font-size:18px; cursor: pointer !important;" href="javascript:void(0)" (click)="onFieldDownClicked(data.data)">
                                                                    <i class="fa fa-arrow-down"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" (click)="onFieldDownClicked(data.data)">{{data.value}}</a>
                                                            </div>
                                                            <dxi-column width="5%" cellTemplate="nameEditTemplate"></dxi-column>
                                                            <div *dxTemplate="let data of 'nameEditTemplate'">
                                                                <a class="edit-link" style="color:darkblue; font-size:18px; cursor: pointer !important;" href="javascript:void(0)" (click)="onEditClicked(data)">
                                                                    <i class="fa fa-fw fa-1x fa-edit"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" (click)="onEditClicked(data)">{{data.value}}</a>
                                                            </div>
                                                            <dxi-column width="5%" cellTemplate="nameDeleteTemplate"></dxi-column>
                                                            <div *dxTemplate="let data of 'nameDeleteTemplate'">
                                                                <a class="edit-link" style="color:red; font-size:18px; cursor: pointer !important;" href="javascript:void(0)" (click)="onDeleteClicked(data)">
                                                                    <i class="fa fa-fw fa-1x fa-remove"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" (click)="onDeleteClicked(data)">{{data.value}}</a>
                                                            </div>
                                                        </dx-data-grid>
                                                    </div>
                                                </dx-data-grid>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>
