<div class="tab-detail-page-titlebar">
    <app-titlebar (new)="onNewClicked()" (delete)="onDeleteClicked()" (refresh)="onRefreshClicked()" (close)="onCloseClicked()"></app-titlebar>
</div>


<div [ngClass]="contentClass">
    <dx-data-grid #grdCompany
                  id="grdCompany"
                  [dataSource]="dataSource"
                  [columns]="columns"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [columnAutoWidth]="true"
                  [showColumnLines]="false"
                  [showRowLines]="true"
                  [showBorders]="true"
                  [rowAlternationEnabled]="true"
                  keyExpr="id"
                  [height]="gridHeight"
                  [loadPanel]="true"
                  [remoteOperations]="true"
                  [(selectedRowKeys)]="selectedRows"
                  (onEditorPreparing)="onEditorPreparing($event)"
                  (onToolbarPreparing)="onToolbarPreparing($event)"
                  (onContentReady)="onContentReady($event)">
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="false"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-selection mode="single" showCheckBoxesMode="always" [allowSelectAll]="false" selectAllMode="allPages"></dxo-selection>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
        <dxo-paging [pageSize]="50"></dxo-paging>
        <div *dxTemplate="let data of 'nameEditTemplate'">
            <a href="javascript:void(0)" (click)="updateRecords(data)">{{data.value}}</a>
        </div>
        <div *dxTemplate="let data of 'booleanCellTemplate'">
            <span *ngIf="data.value" class="badge badge-pill badge-success">Yes</span>
            <span *ngIf="!data.value" class="badge badge-pill badge-danger">No</span>
        </div>
    </dx-data-grid>
</div>
