<app-titlebar (close)="onCloseClicked()"></app-titlebar>

<div style="background-color:white;">
    <dx-tab-panel #tabPanelTypeNCategory
                  [height]="tabContentHeight"
                  [dataSource]="menuDataSource"
                  [selectedIndex]="0"
                  [loop]="true"
                  [animationEnabled]="false"
                  [swipeEnabled]="false"
                  [scrollingEnabled]="true"
                  [scrollByContent]="true">
        <div *dxTemplate="let customCategoryModule of 'title'">
            <span>{{customCategoryModule.name}}</span>
        </div>
        <div style="overflow-y:auto;" *dxTemplate="let customCategoryModule of 'item'">
            <div class="tabpanel-item">
                <div class="container-link-page">
                    <div class="row">
                        <div class="col-sm-4 link-item-area" *ngFor="let categoryType of customCategoryModule.customCategoryTypes">
                            <div style="padding-bottom:9px;">
                                <div class="link-item-header">
                                    <a class="pull-left link-item-header-link-color" [routerLink]="['/system-settings/type-and-category/' + categoryType.routingKey]"
                                       [routerLinkActive]="['router-link-active']">{{categoryType.name}}</a>
                                </div>
                            </div>
                            <hr class="hr-item-separator" />
                            <span class="pull-left link-item-span">{{categoryType.helpText}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-tab-panel>
</div>

<!--[queryParams]="{name: categoryType.routingKey}"-->
<!--[queryParams]="{entityType: linkItem.entityType, entityName: linkItem.caption, enabledColor: linkItem.enabledColor, mapOption: linkItem.mapOption }"-->
