


<div class="card mb-1">

    <div class="block-content">

        <div class="content-item-uploader" style="padding:5px; text-align:left;">
            <dx-file-uploader #fileUpload class="custom-file-uploader"
                              selectButtonText="Select File"
                              [uploadUrl]="uploadUrl"
                              [multiple]="allowMultipleFilesSelection"
                              accept="*"
                              uploadButtonText="Upload"
                              uploadMode="instantly"
                              [(value)]="fileList"
                              (onUploaded)="onUploaded($event)"
                              (onUploadStarted)="onUploadStarted($event)">
            </dx-file-uploader>
            <div style="text-align:center; cursor:default;">
                <span style="font-size:11px; color:#8e8787;">maximum file size is 6Mb</span>
            </div>
        </div>

        <div class="content-item-field" style="padding:5px; text-align:left;">

            <div *ngIf="fileDataSource.length>0">
                <form #uploadForm="ngForm">
                    <dx-validation-group #uploadFormValidation>
                        <div class="row" *ngFor="let file of fileDataSource; let i = index;">
                            <div class="col-sm-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xl-3">
                                    </div>
                                    <div class="col-xl-9">
                                        <div style="font-size:11px; color:#8e8787; padding-bottom: 5px;" class="col-xl-12">
                                            File Name : {{file.fileName}} &nbsp;&nbsp;  File Extension : {{file.fileExtension}} &nbsp;&nbsp;  File Size : {{file.fileSize}} kb
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-sm-4 col-xl-4 col-lg-4">
        <div class="row">
            <div class="col-xl-12">
                <label>File Extension</label>
                <dx-text-box [(value)]="file.fileExtension" [valueChangeEvent]="'keyup'">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-xl-4 col-lg-4">
        <div class="row">
            <div class="col-xl-12">
                <label>File Size (Kb)</label>
                <dx-text-box [(value)]="file.fileSize" [valueChangeEvent]="'keyup'">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>-->
                            <div class="col-sm-12 col-xl-12 col-lg-12">
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Ttile</label>
                                        <span class="required-mark">*</span>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-box [(value)]="file.title" [valueChangeEvent]="'keyup'">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xl-12 col-lg-12">

                                <div class="row form-group">

                                    <div class="col-xl-3 card-body-caption">
                                        <label>Document Category</label>
                                        <span class="required-mark">*</span>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-select-box [items]="documentCategorySelectItem" [searchEnabled]="true" [(value)]="file.documentCategoryId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Document Category is required" validationMessageMode='always'></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>

                                </div>

                            </div>
                            <div class="col-sm-12 col-xl-12 col-lg-12">
                                <div class="row form-group">
                                    <div class="col-xl-3 card-body-caption">
                                        <label>Description</label>
                                    </div>
                                    <div class="col-xl-9">
                                        <dx-text-area [(value)]="file.description" [valueChangeEvent]="'keyup'" (onValueChanged)="setDirty(file)">
                                        </dx-text-area>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </dx-validation-group>
                </form>
            </div>

        </div>



    </div>



</div>
