<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>
<div class="detail-page-content-div" style="padding-top:0px!important;">



    <form #categoryForm="ngForm">

        <div class="row">

            <div class="card mb-1">
                <div class="card-header" data-toggle="collapse" href="#collapseOne">
                    <a class="card-title">
                        Upload File
                    </a>
                </div>
                <div id="collapseOne" class="card-body show">

                    <file-uploader #fileUploadControl></file-uploader>

                </div>
            </div>




            <div class="col-sm-12 col-xl-12 col-lg-12">

                <table class="child-table table-striped">
                    <thead>
                        <tr class="child-table-row-header">
                            <th class="child-table-header" scope="col" style="width:5%;"></th>
                            <th class="child-table-header" scope="col" style="width:5%;"></th>
                            <th class="child-table-header" scope="col" style="width:20%;">Title</th>
                            <th class="child-table-header" scope="col" style="width:20%;">Category</th>
                            <th class="child-table-header" scope="col" style="width:20%;">Description</th>
                            <th class="child-table-header" scope="col" style="width:20%;">Created Date</th>
                            <th class="child-table-header" scope="col" style="width:10%;">File Size (kb)</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let doc of applicationDocumentList; let i=index;">
                            <td style="width:5%; padding-left: 10px;">
                                <a class="edit-link" style="color:red; font-size:14px;" (click)="onDeleteDocument(doc.id)" href="javascript:void(0)">
                                    <i class="fa fa-fw fa-lg fa-remove"></i>
                                </a>
                            </td>
                            <td style="width:5%; padding-left: 10px;">
                                <a class="edit-link" style="color:black; font-size:14px;" (click)="onDownloadClicked(doc.id, doc.fileName)" href="javascript:void(0)">
                                    <i class="fa fa-fw fa-lg fa-download"></i>
                                </a>
                            </td>
                            <td style="width:20%;padding-left:10px;">
                                <div>{{doc.title}}</div>
                            </td>
                            <td style="width:20%;padding-left:10px;">
                                <div>{{doc.documentCategoryName}}</div>
                            </td>
                            <td style="width:20%;padding-left:10px;">
                                <div>{{doc.description}}</div>
                            </td>
                            <td style="width:20%;padding-left:10px;">
                                <div>{{doc.formatDate}}</div>
                            </td>
                            <td style="width:10%;padding-left:10px;">
                                <div>{{doc.fileSize}}</div>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>


    </form>
</div>
