<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>
<div class="detail-page-content-div" style="padding-top:0px!important;">
    <form #categoryForm="ngForm">  


            <div class="row">
                <div class="col-sm-12 col-xl-12 col-lg-12">

                    <table class="child-table table-striped">
                        <thead>
                            <tr class="child-table-row-header">
                                <th class="child-table-header" scope="col" style="width:4%;"></th>
                                <th class="child-table-header" scope="col" style="width:60%;">Note Detail</th>                                
                                <th class="child-table-header" scope="col" style="width:18%;">Created By</th>
                                <th class="child-table-header" scope="col" style="width:18%;">Note Type</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let noteList of applicationNoteList; let i=index;">
                                <td style="width:4%; padding-left: 10px;">
                                    <a class="edit-link" style="color:red; font-size:14px;" href="javascript:void(0)" (click)="onDeleteNote(noteList.id)">
                                        <i class="fa fa-fw fa-lg fa-remove"></i>
                                    </a>
                                </td>
                                <td style="width:60%;">

                                    <ng-container *ngIf="loggedInUserContactId == noteList.createdByContactId; else noteCheck">
                                        <dx-text-area [(value)]="noteList.noteDetail" [disabled]="true" [height]="90">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Note detail is required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-area>
                                    </ng-container>
                                    <ng-template #noteCheck>
                                        <ng-container *ngIf="loggedInUserContactId == assignedContactId; else defaultNoteCheck">
                                            <dx-text-area [(value)]="noteList.noteDetail" [disabled]="true" [height]="90">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Note detail is required"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-area>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #defaultNoteCheck>
                                        <dx-text-area [(value)]="noteList.noteDetail" [disabled]="true" [height]="90">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Note detail is required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-area>
                                    </ng-template>


                                   
                                </td>
                                
                                <td style="width:18%; padding-left: 8px;">
                                    <div>{{noteList.createdBy}}</div>
                                </td>
                                <td style="width:18%;  padding-left: 8px;">

                                    <div *ngIf="noteList.isPrivate; else privateNote">System Generated</div>
                                    <ng-template #privateNote>System Generated</ng-template>

                                </td>
                            </tr>
                        </tbody>
                        <!--<tfoot>
                            <tr>

                                <td colspan="4" style="width:100%; text-align:center;">
                                    <a class="edit-link" href="javascript:void(0)" (click)="addNewNote($event)">Add Note<i class="fa fa-fw fa-lg fa-plus"></i></a>
                                </td>

                            </tr>
                        </tfoot>-->

                    </table>
                    
                </div>
            </div>
                        
        
    </form>
</div>
