<div class="tab-detail-page-titlebar">
    <app-titlebar style="position:unset!important;" (save)="onSaveClicked($event)" (close)="onCloseClicked($event)" (saveNew)="onSaveNNewClicked($event)" (saveClose)="onSaveNCloseClicked($event)"></app-titlebar>
</div>

<div [ngClass]="contentClass">
    <form #userForm="ngForm">
        <dx-validation-group #formValidation>
            <div class="row">
                <div class="col-sm-12 col-xl-7 col-lg-12 div-two-column-left">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                General Information
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body show">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3 col-sm-12">
                                    <div class="col-xl-12">
                                        <app-image-upload #imgUploadControl></app-image-upload>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xl-9 col-sm-12">
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Business Profile</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-tag-box [dataSource]="businessProfileSelectItems" [(value)]="businessProfileIds"
                                                        [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id"
                                                        (onValueChanged)="onBusinessProfileSelectionChanged($event)">
                                                <dx-validator #businessProfileValidation></dx-validator>
                                            </dx-tag-box>
                                        </div>
                                    </div>

                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Clinic</label>
                                        </div>
                                        <div class="col-xl-9">

                                            <dx-drop-down-box #companyCombobox [(value)]="gridBoxValue" valueExpr="id" displayExpr="name" [deferRendering]="false" placeholder="Select..."
                                                              [showClearButton]="true" [dataSource]="gridDataSource" [(opened)]="isDropDownBoxOpened">
                                                <div *dxTemplate="let data of 'content'">
                                                    <dx-data-grid [dataSource]="gridDataSource"
                                                                  [columns]="['name']"
                                                                  [selection]="{ mode: 'single' }"
                                                                  [hoverStateEnabled]="true"
                                                                  [paging]="{ enabled: true, pageSize: 10 }"
                                                                  [filterRow]="{ visible: true }"
                                                                  [scrolling]="{ mode: 'paging' }"
                                                                  [showBorders]="false"
                                                                  [showColumnLines]="false"
                                                                  [showColumnHeaders]="false"
                                                                  [remoteOperations]="true"
                                                                  [(selectedRowKeys)]="gridBoxValue"
                                                                  (onSelectionChanged)="onSelectionChanged($event)">
                                                        <dxo-selection showCheckBoxesMode="always" [allowSelectAll]="false"></dxo-selection>
                                                    </dx-data-grid>
                                                </div>
                                                <dx-validator #companyValidation></dx-validator>
                                            </dx-drop-down-box>

                                        </div>
                                    </div>

                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Title</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="titleSelectItems" [searchEnabled]="true" [(value)]="contactDataSource.titleId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>First Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="contactDataSource.firstName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #firstNameValidation></dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Middle Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="contactDataSource.middleName" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Last Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="contactDataSource.lastName" [valueChangeEvent]="'keyup'">
                                                <dx-validator #lastNameValidation></dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Preferred Name</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="contactDataSource.preferredName" [valueChangeEvent]="'keyup'">
                                            </dx-text-box>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>AHPRA Registration No</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="contactDataSource.aHPRARegistrationNo" [valueChangeEvent]="'keyup'" [maxLength]="50">
                                            </dx-text-box>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>CMRB Number</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-text-box [(value)]="contactDataSource.cMRBNumber" [valueChangeEvent]="'keyup'" [maxLength]="50">
                                            </dx-text-box>
                                        </div>
                                    </div>

                                    <div [ngClass]="entityContentClass">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Position</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="positionSelectItems" [searchEnabled]="true" [(value)]="contactDataSource.postionId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            </dx-select-box>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Date Of Birth</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-date-box [(value)]="contactDataSource.dateOfBirthDateFormat" [min]="minDate" [max]="maxDate" displayFormat="dd/MM/yyyy"> </dx-date-box>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Gender</label>
                                        </div>
                                        <div class="col-xl-9 card-body-control-radio">
                                            <dx-radio-group [items]="genderSelectItems" [(value)]="contactDataSource.genderId" displayExpr="name" valueExpr="id" layout="horizontal">
                                            </dx-radio-group>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xl-3 card-body-caption">
                                            <label>Time Zone</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <dx-select-box [items]="timeZoneSelectItems" [searchEnabled]="true" [(value)]="contactDataSource.timeZoneId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                            </dx-select-box>
                                        </div>
                                    </div>

                                    <div class="row form-group ">
                                        <div class="col-xl-3 card-body-caption-checkbox">
                                            <label>Active</label>
                                        </div>
                                        <div class="col-xl-9 card-body-control-checkbox">
                                            <dx-check-box #isActiveControl [(value)]="contactDataSource.isActive"></dx-check-box>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                            <a class="card-title">
                                Contact Details
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Email</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.email" [valueChangeEvent]="'keyup'">
                                        <dx-validator #emailValidation></dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Email 2</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.email2" [valueChangeEvent]="'keyup'">
                                        <dx-validator #email2Validation></dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Email 3</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.email3" [valueChangeEvent]="'keyup'">
                                        <dx-validator #email3Validation></dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Business Phone</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.businessPhone" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Home Phone</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.homePhone" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Mobile Phone</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.mobile" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Preferred Phone Type</label>
                                </div>
                                <div class="col-xl-8 card-body-control-radio">
                                    <dx-radio-group [items]="preferredPhoneTypeSelectItems" [(value)]="contactDataSource.preferredPhoneType" displayExpr="name" valueExpr="id" layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Fax</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.fax" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>IM Type</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-select-box [items]="imTypeSelectItems" [searchEnabled]="true" [(value)]="contactDataSource.imTypeId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                    </dx-select-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>IM Login Id</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.imLoginId" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Preferred Contact Method</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-select-box [items]="preferredContactSelectItems" [searchEnabled]="true" [(value)]="contactDataSource.preferredContactMethodId" displayExpr="name" valueExpr="id" [showClearButton]="true">
                                    </dx-select-box>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-12 col-xl-5 col-lg-12 div-two-column-right">
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapsePractitionerDetail">
                            <a class="card-title">
                                Practitioner Details
                            </a>
                        </div>
                        <div id="collapsePractitionerDetail" class="card-body show">

                            <div class="row form-group">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Professional Body</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-tag-box [dataSource]="skillsSelectItems" [(value)]="contactSpecialisations" [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">
                                    </dx-tag-box>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Diseases Specialities</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-tag-box [dataSource]="diseaseSpecialitySelectItems" [(value)]="specialityIds" [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">
                                    </dx-tag-box>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Services Provided</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-tag-box [dataSource]="practitionerServiceSelectItems" [(value)]="provideServiceIds" [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">
                                    </dx-tag-box>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Language Spoken</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-tag-box [dataSource]="practitionerLanguageSelectItems" [(value)]="languageIds" [showSelectionControls]="true" align="left" displayExpr="name" valueExpr="id">
                                    </dx-tag-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Practitioner's Profit (%)</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-number-box [(value)]="practitionerDataSource.practitionerProfitPercentage" [valueChangeEvent]="'keyup'"></dx-number-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Practitioner Total Incentive Points</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-number-box [(value)]="practitionerDataSource.practtiionerTotalIncentivePoints" [valueChangeEvent]="'keyup'" [disabled]="true"></dx-number-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Business Hour</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-area [(value)]="practitionerDataSource.businessHour" [valueChangeEvent]="'keyup'">
                                    </dx-text-area>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Fee Schedule</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-area [(value)]="practitionerDataSource.feeSchedule" [valueChangeEvent]="'keyup'">
                                    </dx-text-area>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Education</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-area [(value)]="practitionerDataSource.education" [valueChangeEvent]="'keyup'">
                                    </dx-text-area>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Other Conditions Involved</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-area [(value)]="practitionerDataSource.otherAreasOfConditionsInvolved" [valueChangeEvent]="'keyup'">
                                    </dx-text-area>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Professional Association</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-area [(value)]="practitionerDataSource.professionalAssociation" [valueChangeEvent]="'keyup'" [maxLength]="200">
                                    </dx-text-area>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption-checkbox">
                                    <label>Private Insurance Rebate Eligibility</label>
                                </div>
                                <div class="col-xl-8 card-body-control-checkbox">
                                    <dx-check-box [(value)]="practitionerDataSource.privateInsuranceRebateEligibility"></dx-check-box>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption-checkbox">
                                    <label>Paid For Advertisement</label>
                                </div>
                                <div class="col-xl-8 card-body-control-checkbox">
                                    <dx-check-box [(value)]="practitionerDataSource.isPaidForAdvertisement"></dx-check-box>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Preferred Dose Method</label>
                                </div>
                                <div class="col-xl-8 card-body-control-radio">
                                    <dx-radio-group [items]="preferredDoseMethodSelectItems" [(value)]="practitionerDataSource.preferredDoseMethodTypeId" displayExpr="name" valueExpr="id" layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseThree">
                            <a class="card-title">
                                Emergency Contact Detail
                            </a>
                        </div>
                        <div id="collapseThree" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Contact Person</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.emergencyContactName" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Contact Number</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.emergencyContactNumber" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Relationship</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-box [(value)]="contactDataSource.emergencyContactRelation" [valueChangeEvent]="'keyup'">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <div class="col-xl-4 card-body-caption">
                                    <label>Special Instruction</label>
                                </div>
                                <div class="col-xl-8">
                                    <dx-text-area [(value)]="contactDataSource.specialInstruction" [height]="90" [maxLength]="400">
                                    </dx-text-area>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" data-toggle="collapse" href="#collapseFour">
                            <a class="card-title">
                                Description
                            </a>
                        </div>
                        <div id="collapseFour" class="card-body show">
                            <div class="row form-group ">
                                <div class="col-xl-12">
                                    <dx-text-area [(value)]="contactDataSource.description" [height]="90" [maxLength]="400">
                                    </dx-text-area>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </dx-validation-group>
    </form>
</div>
