<main>
    <!--<div class="login-parent-div" >
        <div style="top: 30%;" class="container col-lg-4 text-center">
            <div class="col-lg-12 text-center login-container-div">
                <div class="row">
                    <div class="col-lg-12 text-center logo-itm">
                        <img src="../../../assets/img/logo.png" style="width:130px; height:110px;" class="login-logo" />
                    </div>
                </div>
                <div style="padding-bottom:30px;" class="row text-center">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-outline-primary login-btn-custom" (click)="login()">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="login-bg">
        <div class="container" style="max-width: 510px; top: 50%; transform: translateY(50%);">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                    </div>
                    <form class="m-login__form m-form" name="form" style="width: 480px;" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
                        <div class="card-body p-6" style="width: 480px; border-radius: 25px; background-color: rgba(23,19,19, 0.5);">
                            <div style="color:#ffc107; margin-bottom:12px!important;" class="card-title">
                                <h5>Login</h5>
                                <img src="../../../assets/icons/login-loan.png" />
                            </div>
                            <div style="margin-bottom: .5rem !important; text-align:left; color:#ffc107;">
                                <label class="form-label">Email / User name</label>
                                <input type="email"
                                       class="form-control"
                                       style="border-radius: 6px!important;"
                                       name="email" placeholder="Email / User name" autocomplete="off"
                                       [(ngModel)]="model.email" #email="ngModel" email="true" required />
                            </div>
                            <div style="margin-bottom: .5rem !important; text-align:left; color:#ffc107;">
                                <label class="form-label" style="width: 100%;">
                                    <span style="float: left;">Password</span>
                                    <!--<a style="float: right;"
                                       href="javascript:;"
                                       (click)="forgotPasswordPage($event)"
                                       class="m-link float-right">
                                        <span>Forgot Password?</span>
                                    </a>-->
                                </label>
                                <input type="password"
                                       class="form-control"
                                       style="border-radius: 6px!important;"
                                       minlength="4" name="password" placeholder="Password" autocomplete="off"
                                       [(ngModel)]="model.password" #password="ngModel" required />
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" style="float: left;" />
                                    <span class="custom-control-label" style="color:#ffc107; padding-top: 4px;">Remember me</span>
                                </label>
                            </div>
                            <div style="text-align:center;" class="form-footer">
                                <button type="button" class="btn btn-outline-warning login-btn-custom" (click)="submit()">Sign In</button>
                                <!--<m-spinner-button [options]="spinner" (click)="submit()">Sign In</m-spinner-button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
